[2015-08-06 13:51] glaslos opened #1 "Emulation as a Service"
Check how feasible it is to make emulation central as a service.

[2015-12-26 11:11] glaslos opened #2 "Handle inline images in CSS with the cloner"
Right now the cloner is not able to fetch images which are defined in CSS. I'm pretty sure we can get an easy solution using https://stackoverflow.com/questions/9271365/how-to-pull-out-css-attributes-from-inline-styles-with-beautifulsoup

[2015-12-26 11:12] glaslos commented on #1
Done, see https://github.com/mushorg/tanner

[2015-12-26 11:12] #1 closed

[2015-12-26 14:59] glaslos opened #3 "Properly set text color using original CSS"
Probably use https://pythonhosted.org/tinycss/parsing.html#quickstart to get the original CSS rules.

[2015-12-29 16:00] glaslos commented on #2
Done with 82a7a2c

[2015-12-29 16:00] #2 closed

[2015-12-29 16:01] glaslos commented on #3
Initial work done in fc95552315aea970dd1ecfdeb2866dff047fa1ca

[2016-01-13 15:22] glaslos commented on #3
This is actually not as trivial as one has to parse the CSS, potentially merge CSS and then determine the color of the text surrounding the links. An expensive solution would be using something like phantomjs.

[2016-02-06 23:04] santiago92 opened #5 "Internal server error 500"
when execute snare:
Request path: /
Error handling request
[code]

[2016-03-02 16:54] glaslos commented on #5
Issue was in a failed deploy to the TANNER service https://github.com/mushorg/tanner/commit/932249c0b67ce7aeb3a4e7b9118ce428fdf303ef. As soon as I'm back home with access to the server I will upgrade the service.

[2016-03-02 19:36] glaslos commented on #5
just deployed the fixed tanner service and tested the current snare version. All works fine. Thanks for reporting.

[2016-03-02 19:36] #5 closed

[2016-03-12 10:27] glaslos opened #6 "Server header"
We should either not provide a server header or use one provided by the user.

[2016-03-12 10:29] glaslos opened #7 "HTTP server fingerprinting"
Investigate various forms of HTTP server fingerprinting methods and evaluate how SNARE is performing. A good starting point is https://www.owasp.org/index.php/Fingerprint_Web_Server_(OTG-INFO-002)

[2016-03-12 10:30] glaslos opened #8 "Absolute links"
Make sure we don't have absolute links after the cloning process pointing to the original web page.

[2016-03-12 10:34] glaslos opened #9 "Coexistence documentation"
Document how SNARE can coexist with nginx/apache/$webserver using routes/vhosts/...

[2016-04-26 12:06] glaslos opened #10 "Auto update"
SNARE should be able to auto update if there is a new release.

[2016-05-27 14:16] glaslos opened #11 "Test the clonging utility against a vanilla wordpress instance"
Setup a Wordpress instance or use a demo (check the template store on wordpress.com)
Run the clone utility: https://github.com/mushorg/snare/blob/master/clone.py
Make sure the page renders correctly (JS, images, CSS).
Moved from here: https://github.com/mushorg/tanner/issues/15

[2016-05-27 14:32] afeena commented on #11
I tested with my own wordpress site.

This is the original site:

<img width="340" alt="ya1twsc 1" src="https://cloud.githubusercontent.com/assets/8390928/15610985/9d39267e-2441-11e6-8a54-c5fe79b3eba9.png">

This is cloned  site:
<img width="340" alt="ya1twsc 1" src="http://i.imgur.com/JyzqaIe.png">

[2016-05-27 14:43] glaslos commented on #11
LGTM

[2016-05-27 14:43] #11 closed

[2016-05-31 11:19] glaslos opened #12 "Use config file"
Create a config file during initial setup: https://github.com/mushorg/snare/blob/master/snare.py#L187

[2016-05-31 11:21] glaslos opened #13 "Support Google and Bing web master tools"
Inject a meta header into the index page with the Google/Bing id keys stored in the config file #12

[2016-05-31 16:33] afeena opened #14 "Cookie"
Add cookie to snare response for additional session tracking

[2016-06-02 12:41] glaslos commented on #13
Closed with 0b94413

[2016-06-02 12:41] #13 closed

[2016-06-02 12:41] glaslos commented on #12
Closed with 0b94413

[2016-06-02 12:41] #12 closed

[2016-06-07 12:01] glaslos opened #17 "AttributeError: 'NoneType' object has no attribute 'headers'"
[code]

[2016-06-10 08:45] afeena commented on #17
I reproduced this bug

Full exception:

[code]

It occurs in ```aiohttp/aiohttp/protocol.py```, if headers field more than 8190 bytes (or all headers size more then 32768 bytes).

[code]

I tested with:

[code]
In SNARE this exception is raised inside super init function:
[code]

How we should execute these requests?

[2016-06-10 08:52] glaslos commented on #17
Maybe a first step could be looking at the header content.
I assume we should return a `413 Entity Too Large` to the client. This could be to identify the web server as HTTP has not specification for the header size but most web servers have some upper limits. Can you catch the exception, return the 413 to the client but submit the request to TANNER to have a look at the header?

[2016-06-10 10:44] afeena opened #20 "Cloning non wordpress sites"
We should try cloning  joomla, drupal, typo3 etc. websites

[2016-06-10 10:52] glaslos commented on #8
Closed with 9c45618

[2016-06-10 10:52] #8 closed

[2016-06-10 20:36] afeena commented on #17
We can't catch this exception, but we can override handle_error function [http://aiohttp.readthedocs.io/en/stable/server.html#aiohttp.server.ServerHttpProtocol.handle_error](url)

[2016-06-13 10:47] afeena commented on #17
This bug also occurs if make the connection via telnet
[code]

On the SNARE server:

[code]

[2016-06-13 11:31] afeena commented on #17
By the way
https://github.com/KeepSafe/aiohttp/pull/889

[2016-06-13 12:14] afeena commented on #17
By the way https://github.com/KeepSafe/aiohttp/pull/889
But our  error occurs in fornat_i function

[2016-06-13 22:53] afeena commented on #17
Possible solutions:

- Change format string (don't use %{FOO}i)
- Disable logs (```access_log=None```)
- Compare message with None in _format_i function (in aiohttp)

[2016-06-14 08:25] glaslos commented on #17
Go for changing the logging in SNARE, we don't really want to mess with aiohttp.

[2016-06-15 08:38] glaslos commented on #17
Mitigated with 8136a52

[2016-06-15 08:38] #17 closed

[2016-06-18 11:00] afeena opened #23 "Re-clone the site if content is updated"
I think it will be great if we can detect the updates on the original site and initialize re-cloning process to keep our honeypot up to date, what do you think?

[2016-06-18 11:25] glaslos commented on #23
There are a couple of things you have to consider:
- If we don't control the original, someone can make us clone malicious content.
- We want to avoid copying the internet
- We have to consider copyrights.

I think one option could be serving the pages from TANNER. So SNARE could ask TANNER for a web site to serve. I think your idea is generally good, but it's probably too early at the moment.

[2016-06-27 21:56] afeena commented on #10
Do we need to ask the confirmation or make forced updates?

[2016-06-28 07:39] glaslos commented on #10
Make it opt-in as a parameter.

[2016-07-14 19:21] afeena commented on #20
### Joomla

_Original:_
<img width="400" alt="8b6yrg7 1" src="https://cloud.githubusercontent.com/assets/8390928/16850238/a46c0956-4a17-11e6-8260-e630ba09734e.png">

_Cloned:_
<img width="400" alt="knlkist 1" src="https://cloud.githubusercontent.com/assets/8390928/16850267/c45d8d70-4a17-11e6-93a5-3e8d918d557a.png">

**The problem:** relative links

### Drupal:

_Original:_

<img width="400" alt="3

[2016-07-14 19:22] afeena opened #25 "Clone sites with relative links"
See #20

[2016-07-18 06:57] glaslos commented on #25
Done with 7bb381e

[2016-07-18 06:57] #25 closed

[2016-07-18 06:58] glaslos commented on #20
Fixed with 7bb381e

[2016-07-18 06:58] #20 closed

[2016-07-18 07:34] glaslos commented on #10
Done with 99a8c4f

[2016-07-18 07:34] #10 closed

[2016-08-21 22:07] d4rksou1 opened #30 "Error with page formating and handling request"
Hi,
just tried out this honeyPot. seems very promissing, but i'm having 2 major issues:
1- when i try clone a website I get A few errors in some css, js and jpeg files, what cause the page to break down. I've tried to first clone the site with httracker then put up a webserver locally and clone it again with clone.py, the site seems a little more legit but takes me to the next problem;
2- I get a

[2016-08-22 06:17] afeena commented on #30
Can you give me some more info? Which sites did you clone? Did you use your own TANNER or default? How did you start snare? Timeout error occurs when something wrong with TANNER

[2016-08-22 08:45] d4rksou1 commented on #30
thanks for the prompt reply.

to be honest i didnt understand how tanner comunicate with snare and vice versa so probably it used the default.

I'm using ubuntu server 16 and installed snare and tanner on the same machine using the README.md as a guide.
and tried to clone the following websites:
http://www.isep.ipp.pt
http://www.academias.isep.ipp.pt
http://knowhowbuilders.com

the VM with the ubu

[2016-08-22 08:54] afeena commented on #30
Do you start SNARE with ``--tanner <ip:port>`` parameter?
If you do, can you please give me the logs? Run in your tanner directory: ``tail tanner.log``

[2016-08-22 11:36] d4rksou1 commented on #30
Thank you the timeout problem was solved using the local tanner correctly but still having problems with the cloner...
some of the errors:

[Errno -2] Cannot connect to host imgs:80 ssl:False [Can not connect to imgs:80                                                                                                                      [Name or service not known]]
path:   name:  /bg.gif
[Errno -2]

[2016-08-22 11:44] afeena commented on #30
Thanks for submitting the issue! :)  Now I'm going to solve the problem with cloning

[2016-09-29 07:36] glaslos opened #31 "Test Tanner connection on startup"
We should check on startup if we have a working connection to Tanner. Stop Snare if Tanner is not reachable. Run into this problem when sitting behind a wifi with a portal.

[2016-11-17 23:47] santiago92 opened #33 "How to report events to syslogs or dashboards"
Hi, I'm Santiago, I'm doing research work. I would like to know how to generate reports with snare / tanner? Because, I used tool for months and I can't find How to report events on syslogs or  dashboard, such as MHN.
Greetings.

Contact : santi.alasia92@gmail.com

[2016-11-18 03:46] afeena commented on #33
Hi, Santiago. We have logging system on the TANNER side. TANNER store the events and sessions. So, please, can you provide me some more info: do you use your own TANNER or default?

[2016-11-18 10:53] santiago92 commented on #33
Hi , I run SNARE with TANNER but i can`t find how to log events in file or databases. What are the sessions in the new TANNER realese?

[2016-11-18 11:53] afeena commented on #33
By default, TANNER store logs in tanner.log file (in your TANNER source directory). And sessions stored in Redis. You can access sessions via api (it's a bit stupid, but you can access sessions via <tanner_host>:8090/api/stats?uuid=<your snare uuid>).

[2016-11-18 13:10] santiago92 commented on #33
Thank , I'm going to  try access log. Are you planning to report events to a dashboard?

[2016-11-20 01:09] panix187 opened #34 "using --interface causes an error"
I tried starting up SNARE with --interface because it looks like it was only binding to the ip6 localhost so I thought this might force it to use the IP4 bind.  Here's what I get:

[code]
Will it only listen on localhost or is there a way to make it bind to an IP?

[2016-11-20 01:11] panix187 commented on #34
Wow, after I posted this, it's now binding to 127.0.0.1 instead of ::1 when I took --interface out.  Don't know what changed.

[2016-11-20 09:51] afeena commented on #34
Hi!
Sorry, in this case "interface" means host ip address, default "interface" is localhost. So, you can only pass the ip to snare (we use aiohttp which want host arg(ip) into its internal function)

Cloning doesn't works equally well on all sites, you can read [this issue](https://github.com/mushorg/snare/issues/30)
It's a bit tricky to make a perfect universal tool, but you can try to clone word

[2016-11-20 13:27] panix187 commented on #34
Gotcha.  Usually with something like tcpdump, interface refers to vr0, rl0 and the like.  I got it up and working now, bound to the correct IP.

I'll have to try cloning different sites.

Is there any way to host different sites like the hostname directive in Apache?

[2016-11-21 14:04] glaslos opened #35 "Rename --interface to --host-ip"
Optionally support --interface by retrieving the associated ip address and using that with aiohttp.

[2016-11-21 14:06] glaslos opened #36 "Investigate multi site support"
Does it make sense to support multiple domains or should we recommend nginx + multiple SNARE instance?

[2016-11-21 14:07] glaslos commented on #34
I created an issue to avoid future confusion: https://github.com/mushorg/snare/issues/35
At the moment hosting multiple sites is not supported. You can use apache with proxy module or nginx with multiple SNARE instances to solve that problem. Issue can be found here: https://github.com/mushorg/snare/issues/36

[2016-11-21 14:07] #34 closed

[2016-11-22 12:44] afeena commented on #31
If user has local TANNER in parameter, but it is unreachable, what we should do?
- Stop SNARE if local TANNER unreachable and notify the user
- Check default (if available - notify that we use default TANNER)
- Stop SNARE only if both (local and default TANNERs) are unreachable

[2016-12-05 19:13] afeena opened #39 "Clone depth"
I think we need parameter, which will restrict cloning depth

[2016-12-07 14:35] glaslos commented on #33
There are no plans for a dashboard in the near future.

[2016-12-07 14:35] #33 closed

[2016-12-09 14:30] hamza005 opened #40 "Snare is not cloning JPG, CSS files of website"
I'm trying to clone my [website](https://cms.comsats.edu.pk) but the snare is not cloning images, css etc.  I need some help...

![screenshot from 2016-12-09 19-23-45](https://cloud.githubusercontent.com/assets/20417498/21052133/2d75d3f2-be45-11e6-8998-652c9703e1ff.png)

[2016-12-09 14:41] glaslos commented on #40
I think the regex here is too strict to capture your image tags: https://github.com/mushorg/snare/blob/master/clone.py#L70

[2016-12-09 14:53] glaslos commented on #31
I think stopping SNARE if the provided TANNER is unreachable is the correct way to go.

[2016-12-09 14:57] glaslos commented on #35
Fixed with #37

[2016-12-09 14:57] #35 closed

[2016-12-09 15:32] afeena commented on #40
Thanks for the issue.

I will try to make cloning a bit better this weekend :)

@glaslos Thanks for the hint :)

[2016-12-11 18:29] afeena commented on #40
#41

[2016-12-11 20:14] glaslos commented on #31
Closed with #38

[2016-12-11 20:14] #31 closed

[2016-12-11 21:49] glaslos commented on #40
@hamza005 can you check with the new cloner from @afeena ? We just merged #41 which should help with your problem.

[2016-12-11 21:49] #40 closed

[2016-12-13 07:23] hamza005 commented on #40
thanks for the co-operation.

[2016-12-13 09:23] manu-g opened #42 "service banner"
Hello,
i discovered that aiohttp sets a service banner that looks something like 'Python/3.5 aiohttp/1.1.6'.
This can be changed as this is only a variable set in aiohttp source.
The corrisbonding file can be found in
/urs/local/lib/python3.5/dist-packages/aiohttp/protocol.py
in line 539 ( if installed with pip3 in default install location)

regards

[2016-12-13 09:41] afeena commented on #42
It is possible to set ``Server`` header, as well as another response headers.

for example we can add just one line in https://github.com/mushorg/snare/blob/master/snare.py#L237
``response.add_header('Server', 'cloudflare-nginx')``

[2016-12-13 09:55] manu-g commented on #42
PORT   STATE SERVICE VERSION
80/tcp open  http    **testing**
1 service unrecognized despite returning data. If you know the service/version, please submit the following fingerprint at https://nmap.org/cgi-bin/submit.cgi?new-service :
SF-Port80-TCP:V=7.31%I=7%D=12/13%Time=584FC36B%P=x86_64-pc-linux-gnu%r(Get
SF:Request,26F,"HTTP/1\.0\x20200\x20OK\r\nContent-Type:\x20text/html\r\nCo
SF:ntent-Length

[2016-12-13 10:27] glaslos commented on #42
I'd actually recommend to not change the aiohttp source code. This would mean we have to maintain the fork and merge future changes to the library.

[2016-12-13 10:57] afeena commented on #42
nmap-service-probes database is [open](https://svn.nmap.org/nmap/nmap-service-probes), so I it might be possible to understand what we should return to change service.

For example, I changes server header to nginx, and I now have no errors in nmap

[code]

[2016-12-13 11:08] afeena commented on #42
Moreover, I fix some problems and get

[code]

[2016-12-13 12:00] glaslos commented on #42
shall we add the server header as an optional flag?

[2016-12-13 12:03] afeena commented on #42
I think it will be good feature :)

[2016-12-13 12:05] manu-g commented on #42
I have an equal error and get an output like
 http?
what local errors did you fix?

[2016-12-13 12:10] afeena commented on #42
@manu-g
It was an error in TANNER config (I forgot to replace old config with new config), so, I fixed TANNER and when start SNARE

[2016-12-14 14:21] afeena opened #43 "MIME-type guess"
We'd like to return content type not only based on filename, but also based on content

https://github.com/mushorg/tanner/issues/96#issuecomment-267042253

[2016-12-14 14:23] hamza005 commented on #43
Hope You will fix the problem soon :)

[2016-12-14 15:04] afeena commented on #43
@hamza005
As hot-fix, you can add these two lines before L228 https://github.com/mushorg/snare/blob/master/snare.py#L228:

[code]

[2016-12-14 15:09] hamza005 opened #44 "Attack Logs"
I have successfully cloned my website with SNARE. Tanner is also installed and in working form. Question is where do i can find the attack logs generated by SNARE and Tanner?

[2016-12-14 15:11] afeena commented on #44
By default, logs are stored in /opt/tanner/tanner.log

[2016-12-14 15:39] hamza005 commented on #44
Yes you are right but those are only application logs not the logs where the user name and passwords are being saved or logged. I want to track those logs. Can you please help me find them?

[2016-12-14 15:46] afeena commented on #44
I'm not sure that I understand you right, but you can see some info about session via TANNER API
``<your_tanner_host>:8090/api/stats?uuid=<SNARE UUID>``

(your uuid store in /opt/snare/snare.pid file)
or directly get it from redis (snare uuid is a key)

[2016-12-14 15:46] hamza005 commented on #43
:) It worked . Thanks a lot for prompt response :)

[2016-12-14 16:45] hamza005 commented on #44
Actually the site i have cloned is my institutes's student portal. So i want to know that who is accessing this site. Like other honey pots generate logs of attacker's source IP address as well as password and user names they tried to get access.

[2016-12-14 20:20] afeena commented on #44
TANNER has the docs. Please, read it.

[2016-12-14 20:27] hamza005 commented on #44
Okay, thanks for being so cooperative.

[2016-12-14 20:30] #44 closed

[2016-12-14 20:30] glaslos commented on #44
I assume he want the payload of the request.

[2016-12-14 20:32] hamza005 commented on #44
exactly sir...!!! Sorry to bother both of you but i think this is the thing i need.

[2016-12-14 20:37] afeena commented on #44
I understand, I think it might help https://github.com/mushorg/tanner/pull/95

[2016-12-15 08:58] afeena opened #45 "Clone utf-8 url"
When trying to clone page, which has url with utf-8 characters, this error occurs

[code]

[2016-12-17 18:15] hamza005 commented on #44
Hi there, I have read the Tanner docs for session. Now let me explain my issue. Have you ever use the honey pot like cowrie? Surely Yes. there is a file in cowrie honey pot named "cowrie.log" that stores all the session info of the a session including source and destination's IP, ports, time, Password/user name used. So my question is that which file in Tanner stores such session logs for tanner?

[2016-12-17 20:08] afeena commented on #44
Session class doesn't store user/password records.
Did you see my previous message with pr?

[2016-12-21 03:09] afeena commented on #44
@hamza005 Has the problem been solved?

[2016-12-21 11:17] glaslos commented on #43
@hamza005 we merged changes #46 that should fix that. Please try with the latest version from github.

[2016-12-21 11:17] #43 closed

[2017-01-04 01:06] tknecht opened #47 "example.com Exceptions"
Installed everything as described.

[code]

[2017-01-04 07:25] afeena commented on #47
Is this exception occurs when you open the main page?

[2017-01-04 08:28] tknecht commented on #47
FileNotFoundError: [Errno 2] No such file or directory: '/opt/snare/pages/example.com/favicon.ico' occurs when opening the main page.

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa4 in position 9: invalid start byte occurs frequently without opening the page or without any traffic on the page.

[2017-01-04 10:30] afeena commented on #47
Thanks for the issue =) I've found the problem, this should help #48
Please, if you try this, give me some feedback =)

[2017-01-04 11:13] glaslos commented on #47
Change merged, please check if this fixed your issues.

[2017-01-04 23:34] santiago92 opened #49 "New Clonner not working with many files on js or media folder"
HI,  new clonner not working very well , only clone one file in folder media or js. you can check this?
Regards

[2017-01-05 07:27] afeena commented on #49
Give me the site example, please

[2017-02-08 19:26] afeena opened #50 "Mime types"
Problems with css may occur because of the wrong mimetype
[code]
![nslwe0x 1](https://cloud.githubusercontent.com/assets/8390928/22753550/5032a692-ee5e-11e6-9c0a-9ab6cb5bf666.png)

[2017-02-15 13:03] glaslos commented on #50
Should be fixed with #51

[2017-02-15 13:03] #50 closed

[2017-02-16 12:10] X4mp commented on #49
could be related to the same issue that wordpress wp-content/uploads folder isn't cloned.
I will investigate this.

[2017-03-06 05:50] afeena opened #55 "Deprecated Low-level Server"
We use Low-Level Server, which has been deprecated since aiohttp version 1.2. It needs to be rewritten asap.

http://aiohttp.readthedocs.io/en/stable/server.html

[2017-03-07 16:35] #6 closed

[2017-03-14 17:16] #14 closed

[2017-03-19 09:20] afeena opened #57 "Error when None payload"
When TANNER returns None in payload, this error occurs:
[code]

[2017-03-20 18:31] rnehra01 opened #60 "Problem in cookie based session tracking"
When we request snare with a random sess_uuid cookie already present, then tanner generates a new sess_uuid cookie with each request and old cookie doesn't get replaced.
Another way of saying it, if session gets expired, then the sess_uuid don't get replaced.

[2017-03-21 16:47] #57 closed

[2017-03-21 17:58] afeena commented on #55
aiohttp 2.0 was released yesterday (20.03), low-level server was deprecated.

[2017-04-16 04:23] basd925 opened #63 "execution errors on windows 10 install"
Built this on Windows 10 and then ran the suggested quick start commands.  I may not have configured the compile environment correctly, although "pip3 install -r requirements.txt" completes without error.

Error in clone.py reported as "AttributeError: module 'os' has no attribute 'getuid'".  Error in snare.py reported as: "ModuleNotFoundError: No module named 'grp'".  (2nd error may be the result

[2017-04-17 05:36] afeena commented on #63
Hi @basd925.
1. `os.getuid()` function available only in Unix https://docs.python.org/3/library/os.html#os.getuid
2. `grp` module provides access to the Unix group database. https://docs.python.org/3/library/grp.html

Thanks for the issue!

[2017-04-17 18:18] #60 closed

[2017-04-17 20:02] basd925 commented on #63
Thanks.

I suspected this, I think I had a similar problem with os.getuid() when I was working with packages
from a different project that was cross-platform.  I normally work in Linux, but since Windows is
apparently a giant security risk waiting to happen, I thought it would be good to get this running
on my Win10 machine.  I'm going to try a Linux install as well.

I will try commenting out the

[2017-06-19 07:52] rnehra01 opened #65 "Port snare to Windows platform"
Will it be good to port Snare to Windows as well as per https://github.com/mushorg/snare/issues/63 ?
I think we can do it easily with minor changes?

[2017-06-20 19:11] eliuha opened #66 "Custom error page"
When trying to access to not existing page, snare shows generic 404 error, which is replaces by chrome to standard error message

`This 127.0.0.2 page can’t be found
No webpage was found for the web address: http://127.0.0.2:8080/aaa/wp-content/aaa
Search Google for 127 8080 aaa content
HTTP ERROR 404
`

wouldn't it make sense to redirect to the index page or show a custom error?

[2017-06-21 10:57] afeena commented on #66
Hi @elihua, thanks for the issue :) It will be good feature for the snare :) I think we could try to fetch error page style from the original site while cloning

[2017-07-21 21:18] seccentral opened #67 "All requests throw errors."
Howdy,
I'm havin trouble gettin snare to work, all requests to any cloned page end up throwing errors.
Here's a log  https://pastebin.com/twdntc0d
Debian 9 64bits,
python 3.5.3
fresh dev virtual machine, followed instructions by the letter.
cloned duckduckgo.com : page displays without styling and images. and snare throws those errors  in the log i posted.

[2017-07-22 20:08] afeena commented on #67
Hi @seccentral
Did you use local tanner? Or default? As I see from logs, tanner response causes the error

[2017-08-27 09:54] rnehra01 commented on #66
Also, when we access a path like `/some_path?foo=bar` and if no attack is present in `foo` param then snare return 404(assume some_path exists). Usually, most websites return `/some_path` if we pass arbitrary GET params to it. So we can include that too.

[2017-10-07 16:07] rnehra01 opened #71 "Snare not working"
If I start Snare without tanner then it throws 500 to all requests.

[2017-10-07 16:11] rnehra01 commented on #71
The reason is [this](https://github.com/mushorg/snare/blob/master/snare.py#L191) line. Since TANNER is not running, so `event_result` will be None and trying to access NoneType as a dict produces erro

[2017-10-07 16:30] afeena commented on #71
Check for None must be added :)
Btw, which branch have you used? Without tanner - it means you used default tanner or you passed local tanner when it was off?

[2017-10-07 17:43] rnehra01 commented on #71
Sorry, didn't understand what you mean by `default tanner`. I started SNARE like `sudo python3 snare.py --page-dir example.com`, so there is no Tanner service.

[2017-10-07 17:45] afeena commented on #71
If you run snare like this, you use default tanner https://github.com/mushorg/snare/blob/master/snare.py#L419

[2017-10-07 17:59] rnehra01 commented on #71
So, I guess I can deploy a `fix` for cases when SNARE can't successfully post to TANNER and `event_result` get set to `None`.

[2017-10-07 18:00] afeena commented on #71
Yes, sure :)

[2017-10-07 18:01] rnehra01 commented on #71
I think #67 is same.

[2017-10-09 20:30] #67 closed

[2017-10-24 05:35] ch40s opened #73 "Log timestamp and source IP addresses"
The log should at least include timestamp, source IP address and the URI.

[2017-10-24 17:39] rnehra01 commented on #73
We have complete logging information in Tanner. But yeah if you want to use only snare side then logging is required. Please send a PR if you're willing to implement it.

[2017-11-02 14:42] nsmfoo opened #74 "Move documentation to readthedocs.org"
To make the extra documentation that is available more easily accessible. I suggest a move to readthedocs.org

[2017-11-02 20:45] nsmfoo commented on #9
Any progress with this "issue"?

[2017-11-03 14:09] glaslos commented on #9
Nothing so far. We are planning to write a exhaustive document on the inner workings and usage of SNARE/TANNER end of the year. Similar to the KYT for Glastopf.

[2017-11-03 14:12] nsmfoo commented on #9
Looking forward to it!

[2017-11-29 10:18] glaslos opened #77 "Add Test/Travis"
Add some tests and run them in Travis on commit.

[2017-12-31 10:31] viskey98 opened #79 "Migrating to latest syntax (python 3.5) for coroutines"
Currently snare is using the 'asyncio.coroutine/yield from' syntax. But ever since python 3.5 we have 'async/await' syntax which is better than the former. We can migrate snare to the new syntax.

[2018-01-21 15:12] perl2php opened #83 "can't start snare.py"
hello
i'm really new to python
installed snare as described
system is ubuntu 16.04, python3 3.5.2
when trying to start:

ubuntu@test:~/snare$ sudo python3 snare.py --port 8080 --page-dir example.com
Traceback (most recent call last):
  File "snare.py", line 37, in <module>
    from aiohttp.web import StaticResource as StaticRoute
  File "/home/ubuntu/.local/lib/python3.5/site-packages/aiohttp/web.

[2018-01-21 15:26] afeena commented on #83
Hi, please run
```pip3 freeze```
and show the output

Seems like you have problems with yarl version
https://github.com/aio-libs/aiohttp/issues/2662

[2018-01-21 15:35] perl2php commented on #83
ubuntu@test:~$  pip3 freeze
aiohttp==1.3.5
async-timeout==2.0.0
beautifulsoup4==4.6.0
blinker==1.3
chardet==3.0.4
cloud-init==17.1
command-not-found==0.3
configobj==5.0.6
cryptography==1.2.3
cssutils==1.0.2
gitdb2==2.0.3
GitPython==2.1.8
idna==2.6
Jinja2==2.8
jsonpatch==1.10
jsonpointer==1.9
language-selector==0.1
MarkupSafe==0.23
multidict==4.0.0
netifaces==0.10.6
oauthlib==1.0.3
prettytable==0.7

[2018-01-21 15:36] afeena commented on #83
Yeah, you have yarl==1.1.0, try to install yarl==0.9.8 (I have this version and snare starts without any problem)

[2018-01-21 17:13] afeena commented on #83
Yeah, you can make a pr :)

[2018-01-24 14:46] mzfr commented on #45
Hi @afeena , I tried to clone the same url with
this [python3 clone.py --target  http://mainnika.ru/%F0%9F%98%BC/] command and there was no problem in cloning.
This [path:  /opt/snare/pages/mainnika.ru/😼 name:  😼] was the output

[2018-01-30 16:11] afeena commented on #83
#85

[2018-01-30 16:11] #83 closed

[2018-01-30 16:12] #71 closed

[2018-01-30 16:13] #49 closed

[2018-01-30 16:13] afeena commented on #39
#53

[2018-01-30 16:13] #39 closed

[2018-01-30 16:14] #47 closed

[2018-01-30 19:25] viskey98 opened #90 "Error after latest commit on snare.py develop branch"
Following error occurs :
   _____ _   _____    ____  ______
  / ___// | / /   |  / __ \/ ____/
  \__ \/  |/ / /| | / /_/ / __/
 ___/ / /|  / ___ |/ _, _/ /___
/____/_/ |_/_/  |_/_/ |_/_____/

Traceback (most recent call last):
  File "snare.py", line 491, in <module>
    args.host-ip, int(args.port))
AttributeError: 'Namespace' object has no attribute 'host'

[2018-01-31 01:53] #79 closed

[2018-01-31 01:53] #90 closed

[2018-02-01 17:24] viskey98 opened #94 "Outdated README.md"
After the new release there is a new argument --max-depth for clone.py  and it takes default argument of a huge value (sys.maxsize). A person who is new to snare will try to clone without this argument (as per the current version of README.md) , which will lead to cloning forever . So we can add this argument in our README.md.

[2018-02-01 17:45] mzfr commented on #94
@viskey98 what do you mean by "cloning forever" ?

[2018-02-01 17:49] viskey98 commented on #94
@mzfr Try cloning without the --max-depth argument , it will try to clone all the web-pages (into its full depth) present in that website.
For instance take github.com , our cloner will try to clone all of the repositories present in github with full depth, which means it won't stop and runs 'forever'

[2018-02-03 15:05] afeena commented on #45
I guess it is because now we store paths as md5 hashes, and `os.path.exists(file_path)` no longer has problems with such a path

[2018-02-03 15:43] mzfr commented on #45
ok, so since this problem does not exist anymore we can close the issue right ?

[2018-02-03 15:46] afeena commented on #45
Yes, you are right :)

[2018-02-03 15:46] #45 closed

[2018-02-05 09:52] #94 closed

[2018-02-07 06:37] terakoh opened #97 "504 Gateway Timeout The gateway server did not receive a timely response"
Hi all, I received this error when I started snare. Previously, I don't recall having problem starting up snare and tanner on the same machine. This error seems to occur after I tried to configure tanner on another machine. Afterwhich, when I try to run tanner and snare on the same machine, I got this error also.

privileges dropped, running as "nobody:nogroup"
serving on ('127.0.0.1', 80) with uu

[2018-02-07 07:09] terakoh commented on #97
I found the reason already.
It is due to my mongo database not started, so there is a timeout waiting for tanner to reply.

[2018-02-07 07:09] #97 closed

[2018-02-08 06:33] viskey98 opened #98 "Documentation for cloner"
I think it would be better to expand our documentation by adding one for cloner as well.

[2018-02-08 06:34] viskey98 commented on #98
Iam working on it myself for the same :)

[2018-02-09 07:57] viskey98 opened #101 ""404 not found" on attack-less requests and extra slashes"
@rnehra01 mentioned in the issue #66 that if we do a request like :
"www.example.com/path?foo=bar "
snare returns a  "404 not found error" even though there is no attack present in the foo parameter.
This should not be the case as the actual website returns the "www.example.com/path" web-page  instead of a 404 error. I think this part should be considered as a separate bug as the working of the ho

[2018-02-09 07:57] viskey98 commented on #101
Iam myself working on the same :)

[2018-02-10 11:28] viskey98 commented on #101
Today while running snare , I realized even a http request like "http://www.example.com/index.html/" will result in "404 not found" whereas we expect it to show up the web-page like: "http://www.example.com/index.html" , which all the websites do.

[2018-02-10 11:37] viskey98 commented on #101
Iam working on this issue myself :)

[2018-02-10 14:41] #98 closed

[2018-02-10 16:43] mzfr commented on #7
I looked into this. Here are some findings.

Have Snare/Tanner running on port 8080 and 8090; then run:

[code]

So, Snare says that the server being used in nginx. Now, let's see what a server *actually* running nginx reports:

[code]

Hm, so this also returns the nginx version. Notice that the ordering of headers in this and snare's output is different.

Now, let's see how Snare works against ba

[2018-02-10 17:21] mzfr commented on #7
Running nmap intense scan gives:

[code]

It also detected aiohttp server!

[2018-02-10 17:44] mzfr commented on #7
I can't get [httprint](https://www.aldeid.com/wiki/Httprint#Example) tool to play nice with snare.

[code]

[2018-02-10 17:47] mzfr opened #103 "Errors when testing with httprint"
I was testing httprint on Snare for issue #7.

[code]

This occurred when I ran this command on httprint: `httprint -h 127.0.0.1:8080 -s signatures.txt -P0`

[2018-02-10 17:51] mzfr commented on #103
The `dorks.pop` issue is occurring [here](https://github.com/mushorg/snare/blob/master/snare.py#L153) because the `dorks` list is empty.

Even though [there is a check](https://github.com/mushorg/snare/blob/master/snare.py#L148) to deal with the empty case, it won't work if the request times out as it did in this case.

[2018-02-10 19:26] afeena commented on #103
Thanks for the issue,. Would you like to fix it?

[2018-02-10 19:27] afeena commented on #101
Great, thanks for reporting this problem :)

[2018-02-11 05:08] viskey98 opened #104 "Difficulty in navigating through documentation for people who are new to snare's git repo"
I think it will be nice to have a Index.md file in the "/docs" folder, which will contain the hyperlinks of the documentation files to navigate directly into the desired content , instead of searching for the file name in the "/docs/source" folder manually ( which can become difficult in case of too many docs in the future).
And we can reference this (Index.md) file in our README.md file , so that

[2018-02-11 06:28] viskey98 commented on #104
For info : A pr fixing the same issue is also done on TANNER'S side.

[2018-02-11 12:37] afeena commented on #30
Since we use new cloner, this error is not relevant anymore.

[2018-02-11 12:37] #30 closed

[2018-02-11 15:32] #101 closed

[2018-02-11 15:36] afeena commented on #104
In my opinion, README.md is enough for github repo. Documentation should be built locally or better move to readthedocs.org #74

But it is only my opinion :) I will be glad to get another ones

[2018-02-11 15:43] viskey98 commented on #104
I created this issue because one of my friend (beginner to python and cyber security) in my institution found difficulty in finding the documentation, He said : when he clicked the link in readme.md `See the docs for more info` , he was redirected to the index.rst  and he could only find the names of the doc files , and then he didn't know how to proceed. So i felt it might be useful to create suc

[2018-02-11 17:01] viskey98 commented on #104
@afeena have we moved the docs to readthedocs.org yet?

[2018-02-13 18:29] mzfr commented on #103
This is actually tanner's issue

[2018-02-13 18:29] #103 closed

[2018-02-14 17:18] VineethReddy02 commented on #104
Hello Everyone!!
 My name is Vineeth, I would like to work on improvement of existing tool for SNARE/ TANNER for GSOC 2018 this summer. Can you guide how can i start with this project.

Thank you!

[2018-02-14 20:52] afeena commented on #104
Hi @VineethReddy02,

First of all, you can join our slack :) You can find information about slack on the webpage https://honeynet.org/gsoc2018/ideas
Then look at the code, play around with software and go through the issues.

Do not hesitate to ask questions :)

[2018-02-15 09:53] glaslos commented on #104
@viskey98 what is your opinion on #74 ?

[2018-02-15 13:34] viskey98 commented on #104
@glaslos  I feel moving the docs to readthedocs.org will make the presentation of the docs a lot better . Navigation can then be also made easier by modifying the hyperlink in the README.md , stating "See the docs for more info" to the URL of the snare's doc in the readthedocs.org website. :)

[2018-02-16 08:42] glaslos commented on #66
Solved by #93

[2018-02-16 08:42] #66 closed

[2018-02-16 08:45] glaslos commented on #74
http://snare.readthedocs.io/en/latest/

[2018-02-16 08:46] glaslos commented on #104
http://snare.readthedocs.io/en/latest/

[2018-02-16 17:45] viskey98 commented on #74
@glaslos I would like to work on this issue, can you tell me how to start with? I haven't had any experience with readthedocs.org

[2018-02-24 21:13] bmfmancini opened #107 "Hosting a built PHP site with snare"
Hey All

I am trying to get snare to host a local web app written in PHP I  ask snare to point to the folder with all the files but it fails with a key error

pages was converted. Try to clone again for the better results.Traceback (most recent call last):File "snare.py", line 474, in <module>if not os.path.exist(os.path.join(base_page_path,args.page_dir,os.path.join(meta_info[args.index_page]['ha

[2018-02-24 21:17] glaslos commented on #107
You have to serve your web app via a web server to render the PHP into HTML. Then you point the cloner to the webserver for crawling.

[2018-02-24 21:45] bmfmancini commented on #107
Ok so we hosted our code on a local http server then ran the crawler then the hashed files go to /opt/snare/pages now able to run snare.py no errors come out but the pages is not reachable

 sudo python3 snare.py --port 8080     --page-dir /opt/snare/pages/example.com/

   _____ _   _____    ____  ______
  / ___// | / /   |  / __ \/ ____/
  \__ \/  |/ / /| | / /_/ / __/
 ___/ / /|  / ___ |/ _, _/

[2018-02-24 21:48] afeena commented on #107
Do you have any errors when you try to access pages?

[2018-02-24 21:51] bmfmancini commented on #107
In general no

No connectivity issues  we also have another web server on a different port on the same server
the code is working fine  after a while snare comes back with this error
Can't connect to tanner host http://tanner.mushmush.org:8090/version

Thanks for the help !

[2018-02-24 21:56] afeena commented on #107
Please, try to run like this
`sudo python3 snare.py --port 8080 --page-dir example.com` -- do you have any difference?

I tried to run snare as you and got the problem with access to the pages.But if I run without full path (because we add `/opt/snare/pages` inside the code) everything is fine.

[2018-02-24 22:00] bmfmancini commented on #107
Same

That is one of my sites you can test it on this page if that helps
sudo python3 snare.py --port 8080 --page-dir www.trulyrandom.tk

   _____ _   _____    ____  ______
  / ___// | / /   |  / __ \/ ____/
  \__ \/  |/ / /| | / /_/ / __/
 ___/ / /|  / ___ |/ _, _/ /___
/____/_/ |_/_/  |_/_/ |_/_____/

privileges dropped, running as "nobody:nogroup"
serving on ('::1', 8080) with uuid 74411072-baa

[2018-02-24 22:06] afeena commented on #107
I cloned your website,

`sudo python3 clone.py --target www.trulyrandom.tk`
`sudo python3 snare.py --page-dir www.trulyrandom.tk`

and then access via `127.0.0.1:8080`
![screenshot from 2018-02-24 23-04-14](https://user-images.githubusercontent.com/8390928/36635552-5ed2f6ea-19b7-11e8-89f2-9b56fef5fa9f.png)

[2018-02-24 22:14] bmfmancini commented on #107
Thanks !

But this is strange I got mine working but only when I put my ip address in

sean@snare:~/snare$ sudo python3 snare.py  **--host-ip 192.168.2.53** --page-dir  www.trulyrandom.tk

   _____ _   _____    ____  ______
  / ___// | / /   |  / __ \/ ____/
  \__ \/  |/ / /| | / /_/ / __/
 ___/ / /|  / ___ |/ _, _/ /___
/____/_/ |_/_/  |_/_/ |_/_____/

privileges dropped, running as "nobody:nogro

[2018-02-24 22:19] afeena commented on #107
Seems strange, thanks for the issue! If you will get any other problem - just let us know

[2018-02-25 09:07] #107 closed

[2018-02-27 09:35] #74 closed

[2018-02-27 09:35] #104 closed

[2018-02-27 10:49] glaslos commented on #77
Added snare to travis. Added the badge to the README.

[2018-02-27 10:49] #77 closed

[2018-03-05 17:17] viskey98 opened #110 "Error log for cloner"
I think it would be nice to have a error log for cloner.
Reason : When we try to clone a whole website, we can face several errors while cloning specific pages.
Keeping track of these errors will become difficult (when we clone whole website i.e several webpages, it can take several hours to clone)  using the command-line terminal. So, it would be better to track them in an error log.

[2018-03-05 17:18] viskey98 commented on #110
I will work on this issue myself :)

[2018-03-05 17:53] viskey98 commented on #110
@lukas and @afeena what are your opinions on this issue?

[2018-03-05 17:56] viskey98 commented on #110
@glaslos and @afeena what are your opinions on this issue?

[2018-03-12 08:01] viskey98 opened #113 "Clone error on CSSUTILS"
I tried cloning my Institute's Intranet website, and faced many errors in CSS utils.
I captured the errors in an error log and this is what i found:
[code]
**I think cloner is not able to handle some CSS utils.**

[2018-03-12 11:30] mzfr commented on #113
@viskey98 Can you provide the link for the website

[2018-03-12 22:15] afeena commented on #7
@mzfr Do you have any suggestions how to improve that?

[2018-03-13 02:27] viskey98 commented on #110
Fixed by https://github.com/mushorg/snare/pull/109

[2018-03-13 02:27] #110 closed

[2018-03-13 07:06] viskey98 commented on #73
@afeena  this was fixed by #109

[2018-03-13 14:59] viskey98 opened #114 "Tanner-web not starting"
I ran tanner-web in master branch and i get this error:
[code]

[2018-03-13 15:01] afeena commented on #114
You need to run it in the tanner directory. And please, move the issue to tanner

[2018-03-13 15:02] viskey98 commented on #114
sorry issue was created in the wrong project

[2018-03-13 15:02] #114 closed

[2018-03-16 06:08] viskey98 commented on #113
@afeena what do you think about this issue?

[2018-03-16 10:41] afeena commented on #113
@viskey98 Could you please give the link to this website?

[2018-03-16 11:11] viskey98 commented on #113
It's intranet website, it is accessible only from inside the network here

[2018-03-16 13:03] mzfr commented on #113
@afeena  @viskey98
The error seems to be checking for some type of validation for the CSS so  we can try to change        [the following](https://github.com/mushorg/snare/blob/master/clone.py#L165) to    `css =   cssutils.parseString(data, validate=false)`.

I am not sure about this since I couldn't try this myself.

Also in my opinion these errors should be ignored during the parse call because a

[2018-03-16 19:58] mzfr commented on #7
@afeena In my opinion we can do the following

1) For http request like `nmap -A 127.0.0.1 -p 8080,8090` we can feed `server response headers`. we can implement this in [handle_request function](https://github.com/mushorg/snare/blob/master/snare.py#L167)

2) And for bad http request like `echo -en "GET / HTTP/3.0\r\n\r\n" | unbuffer nc 127.0.0.1 8080` which will cause errors like 504,400,500 etc w

[2018-03-17 12:55] glaslos commented on #7
Yes, making sure we consistently return the correct headers should be a good start.

[2018-03-17 13:04] mzfr commented on #7
@glalos In my opinion headers like `content-type` or `Date` will not reveal much so we should just alter headers like [`Server`](https://github.com/mushorg/snare/blob/master/snare.py#L192) or maybe [`reponse`](https://github.com/mushorg/snare/blob/master/snare.py#L186).

Also, What are your opinion on custom error templates ?

[2018-03-24 15:10] xandfury opened #115 "Install snare from pypi"
Sister issue to: https://github.com/mushorg/tanner/issues/237

[2018-03-25 04:11] xandfury opened #116 "Bad file extensions"
It is convention to not use `.py` extension for python scripts. [`clone`](https://github.com/mushorg/snare/blob/master/clone.py) and [`snare`](https://github.com/mushorg/snare/blob/master/snare.py) python scripts have `.py` extensions. Please change these. Use .py for only python libraries

More info [here](https://stackoverflow.com/questions/49472256/is-it-bad-practice-to-use-py-extension-for-pyt

[2018-03-25 04:14] viskey98 commented on #116
@xandfury we have planned on reconstructing snare and cloner code base to improve its architecture in this summer, that time this issue will be solved automatically.

[2018-03-25 04:16] viskey98 commented on #115
@xandfury right now, snare has all its code base in a single file, first we need to improve the architecture of the code base.This issue is quite early for the moment. :)

[2018-03-25 12:24] mzfr opened #118 "Detect malicious website"
It would be a nice thing if cloner can check for malicious content within the website before cloning it and  maybe produce a warning for it.
The process for cloning would be something like:
* `sudo python3 clone.py --target http://example.com`
* If website have malicious content generate a warning
   `website may contain malicious content are you sure you want to clone the website ?`
* If yes then

[2018-03-25 12:28] mzfr commented on #23
@glaslos Can you explain a bit on what that "malicious content" could be ?
and in what way copyrights can be a problem ?

[2018-03-31 09:35] anjali-shukla opened #119 "not able to run snare"
I have created a simple login form and hosted it on a local machine .I was able to clone the web page but when I run snare it gives error.The screen shot of error is attached below.
![snare](https://user-images.githubusercontent.com/35517694/38161900-e93ca9a4-34f4-11e8-9a37-bfe3ec561890.png)

[2018-03-31 09:43] afeena commented on #119
Hi. How you clone your page? Could you please show exact command?

[2018-03-31 09:44] anjali-shukla commented on #119
sudo python3 clone.py --target http://10.114.56.197/pra1.html

[2018-03-31 09:51] afeena commented on #119
I can make a guess, that you have only one page in your meta.json. You can check it and try try to run snare with ```--index-page
pra1.html ```

[2018-03-31 09:56] anjali-shukla commented on #119
yeah , it worked .
Thank you so much .

[2018-03-31 09:57] #119 closed

[2018-03-31 16:50] viskey98 commented on #113
@mzfr Yah you are right, I also figured out these are just minor errors and need to be ignored. I found no major issue in the cloned page. Thanks for your help :)

[2018-03-31 16:56] mzfr commented on #113
@viskey98 have you tried it with using `css = cssutils.parseString(data, validate=false)` ?

[2018-03-31 17:01] viskey98 commented on #113
Yes, it had removed those errors from the log. As, it doesn't interfere in the cloning process, I guess we can just ignore them. :)

[2018-03-31 17:04] mzfr commented on #113
so I think we should do it in our main code base too so it doesn't bother anyone else ?

[2018-03-31 17:14] viskey98 commented on #113
We can. But, I think its better to wait until someone else gets the same error in some website. As I haven't faced this validation error in any website except this intranet site. And moreover SNARE is mean't for web applications. I will keep this open for discussion.

[2018-03-31 17:16] viskey98 commented on #118
@mzfr This seems to be a good idea, but its difficult to guess if a whole website is malicious or not with just its index-page URL. And the 3rd party API's u have mentioned check maliciousness for URLs. So we need to check it for every url of the website. This can even slow down our cloning process. What do you think about this?

[2018-03-31 17:20] mzfr commented on #113
@viskey98 One another suggestion I can give is that you can check what is a different thing does your website have comparing to other websites for example [github](https://github.com/) or any other website.
(I am talking in context of CSS) Maybe you get something good

[2018-03-31 17:28] mzfr commented on #118
@viskey98 managing the process speed won't be a problem since google safe browsing accept 500 URLs in single post request.

But we can leave this issue for right now because @glaslos told me that at this point this isn't a very important feature.

[2018-03-31 17:33] viskey98 commented on #118
@mzfr Google safe browsing website itself states a disadvantage like:
`Response time: Every lookup request is processed by the server. We don't provide guarantees on lookup response time.`
So if we implement this for every URLs (of the to-be-cloned website) it can be costly for certain websites that's what i meant.
And yah like you said, I guess this issue can be looked up later.

[2018-04-01 07:49] glaslos commented on #118
IIRC Google Safe Browsing is not live scanning the web page but gives you a historic verdict. So you do it once per domain.

[2018-04-01 07:51] glaslos commented on #113
How about adding a command line flag to the cloner to disable the verification?

[2018-04-01 07:59] glaslos commented on #23
Malicious content could be anything distributed via HTTP :) but think things like a malicious coin miner. Regarding copyright, you can't just clone someones web page or content and then provided it on your web page.

[2018-04-01 08:00] viskey98 commented on #113
@glaslos That sounds great, I will implement it :)

[2018-04-02 09:02] anjali-shukla opened #121 "snare is giving error"
i changed aiohttp version in tanner to 0.14.0, after that snare started giving error .
![error](https://user-images.githubusercontent.com/35517694/38190583-8c1216ee-3682-11e8-966f-e1f0bb6e5974.png)

[2018-04-02 09:28] viskey98 commented on #121
go into snare's folder and please run: `pip3 install -r requirements.txt`
If you do this, you will install the dependencies (with required version) for snare and will fix this issue.
After this every time before you run tanner, make sure docker is running. If not start docker using this command : `sudo service docker start`
Docker will create a virtualisation for the dependencies (with required ve

[2018-04-03 10:11] anjali-shukla commented on #121
Docker is running and i have installed all the requirements.

[2018-04-03 13:37] viskey98 commented on #121
I meant if you installed the tanner's requirements as the latest, the machine will have tanner's dependency versions. So you please install snare's side dependencies again and then try.
If it still doesn't work, try a fresh instance of snare, it reset ur files using git.
Because it seems to work fine in my machine :)

[2018-04-03 13:42] afeena commented on #121
@anjali-shukla it seems like the problem with tanner. (I guess tanner response something like 500 error). Please check your tanner first (check you tanner error log at /opt/tanner/tanner.err)

[2018-04-05 16:38] Siegmy3r opened #122 "Webpage Inaccessible from Remote Machine"
Hello, I am trying to use Snare on my network at home and I am hosting it on a Raspberry Pi. I have gotten Snare to run and a page to display, but the page can only be seen from the Raspberry Pi itself, not any remote machine.

I cannot display the page by port forwarding through my router or by using a LAN connection. I checked to see if there was a firewall on my router that would block the traf

[2018-04-05 17:08] Siegmy3r commented on #122
Fixed my own problem! It runs on localhost by default. You have to specify the IP address of the machine you are on so that it can be accessed by other machines.

[2018-04-12 19:05] viskey98 commented on #113
Fixed by #120

[2018-04-12 19:05] #113 closed

[2018-05-10 20:04] deanhinson opened #124 "Error runinng clone.py"
wheh i run:

sudo python3 clone.py --target http://***url**.com

i get the error:
Traceback (most recent call last):
  File "clone.py", line 25, in <module>
    import aiohttp
ImportError: No module named 'aiohttp'

pip3 freeze
aiohttp==3.2.1
async-timeout==3.0.0
attrs==18.1.0
automationhat==0.1.0
beautifulsoup4==4.6.0
blinker==1.3
blinkt==0.1.1
buttonshim==0.0.2
Cap1xxx==0.1.3
chardet==3.0.4
clic

[2018-05-10 22:59] afeena commented on #124
Hi @deanhinson
Have you run
`pip install -r requirements.txt`?
As you can see, our requirements is `aiohttp <2.0` and your version is `3.2.1`

[2018-05-11 13:29] deanhinson commented on #124
Yes I have, it says that it is install the 1.3.5 version but it still does not change anything when i do pip3 freeze. Do i have to uninstall it and reinstall aiohttp? the output for example:
pip3 install -r requirements.txt
Collecting aiohttp<2.0 (from -r requirements.txt (line 1))
  Using cached https://www.piwheels.org/simple/aiohttp/aiohttp-1.3.5-cp35-cp35m-linux_armv7l.whl
Collecting beautiful

[2018-05-11 14:44] mzfr commented on #124
@deanhinson yes you will have to remove 3.2.1 version and then install a version lower than 2.0.

[2018-05-11 14:58] deanhinson commented on #124
I uninstalled aiohttp and now have version 1.3.5 i also have yarl 0.9.8 but the same problem is still happening where it says no module named 'aiohttp'

[2018-05-15 07:15] viskey98 commented on #122
@afeena as this issue is fixed, we should close this issue :)

[2018-05-16 20:47] #122 closed

[2018-05-19 21:09] afeena opened #134 "Add possibility to change default directory"
Right now we always use `/opt/snare/` for storing all the snare files like config and uuid. It might be good to add the possibility to change this folder.

[2018-05-19 21:11] afeena commented on #121
@anjali-shukla has the problem been resolved?

[2018-05-19 21:12] afeena commented on #124
@deanhinson has the problem been resolved?

[2018-05-26 11:06] t3chn0m4g3 commented on #121
Try running with `--no-dorks`

[2018-06-08 14:03] Sangvin commented on #124
I had the same error
I used sudo when running `pip3 install -r requirements.txt`
then the `sudo python3 clone.py` worked for me

[2018-06-13 19:18] Bartlett-Will opened #143 "Requests are timing out"
I'm using python 3.4.5 and Debian 16.04.
I cloned chicago.suntimes.com, with a --max-depth of 1, but it doesn't seem to matter what I clone. I am working from behind a firewall, and on a remote server but the port i am serving on and 8090 are open.

Here is the error log :(
https://pastebin.com/qT3mXZEd

[2018-06-13 20:57] afeena commented on #143
Have you used default tanner of your own?
Thanks for reporting a problem, I made a hot fix for you, please check if it works now :)

[2018-06-14 13:46] Bartlett-Will commented on #143
Thank you for the timely response. I don't have my own tanner set up yet. Whatever you did seems to work! I'm still getting some interesting behavior. I removed any previously cloned sites and then cloned da-ink.com and chicago.suntimes.com (two popular wordpress websites). When running:
`sudo python3 snare.py --port 80 --host-ip 0.0.0.0 --page-dir da-ink.com` is can see the request paths and ever

[2018-06-19 17:25] ahmedkhiar opened #145 "SNARE integration with MHN"
Hello eveybody,

Did anybody succeeded to integrate SNARE/TANNER with MHN please ?

Thanks.

[2018-06-20 16:59] ahmedkhiar opened #146 "SNARE and hpfeeds"
Does Snare support hpfeeds, urgent please ?

Thank you

[2018-06-21 03:12] Vandenb00m opened #147 "I am getting an error when trying to clone the URL"
File "clone.py", line 54
    async def process_link(self, url, level, check_host=False):
it is saying def is causing it.
I tried deleting the file and copying a new one to see if it was spacing but i'm having the same issue.
I am running on the newest Ubuntu 18.04

Someone Please help!
 - Herc

[2018-06-21 04:36] glaslos commented on #146
There are no plans to support hpfeeds.

[2018-06-21 04:36] #146 closed

[2018-06-21 04:37] glaslos commented on #147
Can you provide the full stack trace?

[2018-06-21 04:38] glaslos commented on #145
Please get in contact with the MHN developers.

[2018-06-21 04:38] #145 closed

[2018-06-21 04:39] glaslos commented on #124
Assuming this has been resolved.

[2018-06-21 04:39] #124 closed

[2018-06-21 04:39] glaslos commented on #121
Assuming the issue has been resolved.

[2018-06-21 04:39] #121 closed

[2018-06-21 04:41] glaslos commented on #63
See #65

[2018-06-21 04:41] #63 closed

[2018-06-21 04:42] glaslos commented on #55
@afeena what is the priority of this issue?

[2018-06-21 19:07] afeena commented on #55
@glaslos New server is already implemented in the develop branch, after testing we will release it.

[2018-06-22 00:32] Vandenb00m commented on #147
That was the only line it was printing out when I ran the copy website command. I decided to start fresh and it worked like a charm!

[2018-06-22 00:32] #147 closed

[2018-06-29 03:38] chumperz opened #148 "Attempt to decode JSON with unexpected mimetype"
I have an issue with installing this using a raspberry pi. I follow the instructions and everything however after running the command : "sudo python3 snare.py --port 8080 --page-dir example.com"
below is the response(in CLI) when I visit the url localhost:8080 :

[code]

[2018-06-29 07:31] afeena commented on #148
Hi, have you used default tanner or you run your own?

[2018-06-29 07:48] chumperz commented on #148
Hi afeena, No, this is my first time to install Snare, isn't it Tanner is optional install?

[2018-06-29 07:54] viskey98 commented on #148
@afeena It seems, default tanner is facing some problem handling the request. We should check error logs in (default) tanner's side for more info.

[2018-07-10 21:14] olivia-oj opened #150 "ValueError Upon Cloning Website"
I attempted to clone a website with the following command (snare is the name of this project's virtualenv) `sudo snare/bin/python3 clone.py --target https://gcbaz.com/`

I received this traceback in response:

[code]
Would appreciate a fix or suggestions on how to avoid this error.

[2018-07-10 21:56] olivia-oj commented on #35
There's no mention of this change or the --host-ip argument in the Snare documentation (http://snare.readthedocs.io/en/latest/parameters.html). Future users of this service would likely be thankful to have this argument easily visible.

[2018-07-11 00:54] afeena commented on #150
Hi @olivia-oj
I made a hot fix for this problem, I hope this helps :)
I tested it with website from your command. Please, let me know if you still have a problems

[2018-07-11 20:06] olivia-oj commented on #150
I think the commit is referencing the wrong issue number but other than that all good. The error is no longer raised. Thanks so much!

[2018-07-12 02:24] #150 closed

[2018-07-20 21:00] afeena commented on #55
done in v0.3

[2018-07-20 21:00] #55 closed

[2018-07-20 21:00] #73 closed

[2018-07-20 21:01] #148 closed

[2018-07-20 21:01] #143 closed

[2018-08-02 18:14] t3chn0m4g3 opened #154 "KeyError 'status_404'"
When running latest Snare 0.3 I am getting the following error and Snare exits:

[code]

[2018-08-02 18:16] viskey98 commented on #154
@t3chn0m4g3 Did you clone the page again after latest snare update?

[2018-08-02 18:18] t3chn0m4g3 commented on #154
@viskey98 Yes. Rebuild the Docker container, used the latest setup instructions and cloned the page again.

[2018-08-02 18:27] viskey98 commented on #154
@t3chn0m4g3 can you please show your clone output?

[2018-08-02 18:36] t3chn0m4g3 commented on #154
cloner says it cannot resolve `example.com`, however the container is able to resolve it just fine:
[code]

Same result with protocol...:
[code]

[2018-08-02 18:49] viskey98 commented on #154
@t3chn0m4g3 I don't understand why the url is not getting resolved. But I know the error which you are facing happens when we use a page which was cloned the outdated cloner (snare 0.2).
Please try to
1. delete all the pages (keeping in mind they are outdated) in `/opt/snare/pages`
2. clone a fresh page  For example : ` clone --target www.github.com --max-depth 1`
3. Try to run snare.
Remember as

[2018-08-02 19:04] t3chn0m4g3 commented on #154
@viskey98 Thanks for your swift response.
1. Always building docker images from scratch, so no outdated pages are possible.
2. Did a fresh clone, same error.
3. Same error.

After removing `WORKDIR /opt/snare`from `Dockerfile` and thus running clone outside `/opt/snare` everything works fine.

Strange though, since everything is built from `master` when building the image.

Thanks for your help :b

[2018-08-02 19:17] viskey98 commented on #154
Yes that's strange, glad that it works fine now :slightly_smiling_face:

[2018-08-02 19:25] t3chn0m4g3 commented on #154
Something is still off... It does not work if the protocol is prefixed (http://example.com), without (example.com) it works fine.

[2018-08-02 19:55] viskey98 commented on #154
@t3chn0m4g3 thanks for finding this issue, It seems to be a small bug. I have created a pr fixing this issue.

[2018-08-02 20:16] t3chn0m4g3 commented on #154
Confirmed. Thanks @viskey98 @afeena

[2018-08-02 20:16] #154 closed

[2018-08-02 20:48] t3chn0m4g3 opened #156 "Binding to port <1024 does not seem to work"
Even when running as `root` I cannot seem to get snare binding to `--port=80`:
[code]

Setting `setcap CAP_NET_BIND_SERVICE=+eip /usr/bin/python3.6` usually works fine, even when privileges are dropped. However in this case no luck. Only setting port to >=1024 seems to work fine.

[2018-08-03 10:03] xandfury commented on #156
Yeah. This has changed recently. Devs should take note ;-)
https://github.com/mushorg/snare/blob/bc913256dbc0ce596328316901684d205645d97d/snare.py#L491-L500
has changed to
https://github.com/mushorg/snare/blob/30c4dbcbd549746e1cad98bf39b39d4fe8e90b7f/bin/snare#L198-L205

[2018-08-06 14:04] t3chn0m4g3 commented on #156
@afeena Can you have a look at this. It seems privileges are dropped too early now.

[2018-08-17 06:45] t3chn0m4g3 commented on #156
@afeena Can you have a look at this 😃

[2018-08-19 03:11] afeena commented on #156
@t3chn0m4g3 The problem is that binding now is doing inside the aiohttp library (as @xandfury mentioned, previously binding was done before dropping privileges). I haven't found a quick solution for this problem, but I will try to fix it asap.

[2018-08-19 08:39] t3chn0m4g3 commented on #156
Awesome!

[2018-08-19 21:37] afeena commented on #156
@t3chn0m4g3 I created the pr https://github.com/mushorg/snare/pull/158 for this problem, could you please check if it works for you?

[2018-08-21 08:01] jegali opened #159 "snare compiling but not working"
Hi there,

I followed the installation instructions - it compiled, it starts, it shows the snare screen. But if I try to connect from a webbrowser, I get Error 504 - and no response in snare. The error log is empty. I tried to downgrade aiohttp and yarl, but then it does not even compile.  I tried on Debian stretch, Ubuntu 16.04 LTS and Ubuntu 18.04. All systems are up-to-date and are running in a

[2018-08-21 16:14] t3chn0m4g3 commented on #156
@afeena Works perfectly fine! Thank you!

It's merge time 😄

[2018-08-21 16:37] afeena commented on #159
Hi, have you used your own tanner or you used default?
It probably was some problems with the default tanner. I checked it and now it should be fine.

[2018-08-21 16:38] afeena commented on #156
@t3chn0m4g3 Done :)

[2018-08-21 16:38] #156 closed

[2018-08-21 16:49] t3chn0m4g3 commented on #156
Thank you!

[2018-08-21 18:32] jegali commented on #159
Hi, I used default configuration. I wanted to change to my own config after I got things to work. I will have another try now.

[2018-08-22 11:41] mzfr opened #160 "AttributeError while running snare"
I followed the installation instructions - it compiles, it starts but I am getting an error and then it stops.

[code]

[2018-09-08 17:44] #159 closed

[2018-09-08 17:46] afeena commented on #160
Hi @mzfr sorry for the late answer. Do you have the same problem now?

[2018-09-09 04:45] mzfr commented on #160
Hey, @afeena yes I am still having this problem.

[2018-09-09 05:34] viskey98 commented on #116
This issue was fixed after the new release of `snare v0.3`

[2018-09-09 05:34] #116 closed

[2018-09-19 18:59] cooldude98 opened #163 "Can anyone help me setting up Snare?"
I've got Snare perfectly fine running up, but the issue is that I get nothing showing up in the Snare window when I run a nmap scan or a Nikto scan over the hosted server. Where did I go wrong ?

[2018-09-19 19:30] viskey98 commented on #163
Hi @cooldude98 , There is nothing wrong in the running of snare. The current version of snare is not supposed to show anything (logs or errors) in the snare window. The logs and errors will be stored in `/opt/snare/snare.log` and `/opt/snare/snare.err` respectively. So please check if your logs are stored in the above mentioned files, after you run your nmap or nikto scan. :)

[2018-10-09 18:32] spirovskib opened #164 "Help on proper SQLi setup"
I managed to setup Snare and it's working great. As a next step I would like to setup a SQLi vulnerable page that links up to the backend database. Do I need to do any specific setup on the form to do this and to link the form to the tanner db, or the tanner db will respond to any SQLi sent via the form?
An example would be greatly appreciated.

[2018-10-12 07:49] zhang199653 opened #165 "Ubuntu16.04 : cannot assign requested address"
root@e80a08108ced:/opt/snare# snare --port 8080 --page-dir example.com

serving with uuid 6664d0c8-0e42-43c4-9a7a-915097a81969
Debug logs will be stored in /opt/snare/snare.log
Error logs will be stored in /opt/snare/snare.err
Traceback (most recent call last):
  File "/usr/lib/python3.6/asyncio/base_events.py", line 1045, in create_server
    sock.bind(sa)
OSError: [Errno 99] Cannot assign reques

[2018-10-12 07:50] zhang199653 commented on #165
serving with uuid 6664d0c8-0e42-43c4-9a7a-915097a81969
Debug logs will be stored in /opt/snare/snare.log
Error logs will be stored in /opt/snare/snare.err
Traceback (most recent call last):
  File "/usr/lib/python3.6/asyncio/base_events.py", line 1045, in create_server
    sock.bind(sa)
OSError: [Errno 99] Cannot assign requested address

During handling of the above exception, another exception o

[2018-10-13 10:39] riupie opened #166 "Could I combine SNARE + Dionaea?"
I know that both honeypot listen to the same port 80, is there any idea how to combine it? Or i just should running it as default?

[2018-10-14 05:44] CyberDrudge opened #167 "Snare Crashing"
On running snare it crashes with this error:
Can't connect to tanner host http://tanner.mushmush.org:8090/version

[2018-10-14 05:47] #167 closed

[2018-10-16 06:39] zhang199653 commented on #165
I build snare in the docker container and use default command 'snare --port 8080 --page-dir example.com' to start snare,that cause this error.If i add '--host <ip>' parameter can avoid this error.

[2018-10-23 08:16] #165 closed

[2018-10-31 01:50] abdulfatah-ah1407281 opened #170 "Trouble setting up snare"
![screenshot from 2018-10-31 04-48-02](https://user-images.githubusercontent.com/25788910/47761122-4a204980-dcc8-11e8-8bc1-e10793d0b025.png)

Getting the following error when i try to run snare,

i ran

[2018-11-06 21:57] afeena commented on #170
@abdulfatah-ah1407281 Hi :) Could you please check you meta.json file and tell me if something with status_404 is in this json? And also, have your cloning of the page finished properly or you cancelled it in some point?

[2018-11-15 08:54] monsterhunterboy98 opened #172 "Cannot Run Snare Due to Tanner"
I Installed Snare successfully.
However I snare not run as it required Tanner. I only was able to successfully clone a web site and when I tried to run snare i got this:
![snare](https://user-images.githubusercontent.com/45062471/48541579-db620380-e8f7-11e8-81e5-2ef0dbf005a4.PNG)

I really do not wish to download Tanner as I am new to Linux and Tanner kept crashing after I installed it and there i

[2018-11-15 09:00] monsterhunterboy98 commented on #172
Please Help :(

[2018-11-15 14:59] viskey98 commented on #172
You don't need to run your own Tanner instance, Snare by default will connect to default tanner which runs on http://tanner.mushmush.org:8090/. Make sure your internet connection is working while you start snare.
Or else the default tanner might have been down that time, you can try it again.

[2018-11-16 02:32] monsterhunterboy98 commented on #172
Thank you for your reply! My snare host is connect to the internet and I still face this issue. This has been an ongoing problem for a week... any idea why? I am running out of time should I switch to an another Web-based honeypot instead of using snare?

![image](https://user-images.githubusercontent.com/45062471/48594110-760b2280-e98a-11e8-92e1-8882d14043eb.png)

[2018-11-16 10:04] monsterhunterboy98 commented on #172
Any web-application honeypot where I am able to import my own php pages instead of an typicall error webpage?

[2018-11-21 07:59] wangclin commented on #170
@afeena Hi :) After I cloned a interior website, I meet the same question. But the KeyError is 'hash'.  I've checked the meta.json file, but I don't find something wrong...
When I clone some open website, everything is ok. Is that a interior website question? Thx for your reply.

[2018-11-22 03:13] monsterhunterboy98 commented on #172
ty for your help! it was an issue with my internet

[2018-11-22 03:24] monsterhunterboy98 opened #173 "Snare was not able to run after cloning my own php files which i used for a web server for my project"
Snare is up:
![image](https://user-images.githubusercontent.com/45062471/48879834-9c2c3900-ee48-11e8-87dd-f24877467359.png)
![image](https://user-images.githubusercontent.com/45062471/48879858-b108cc80-ee48-11e8-911e-707c73c4e236.png)

I connected to my snare host vm to my apache2 vm where it is used to host my php files. I proceed to clone the the website by running the clone command which I spec

[2018-11-23 08:33] wangclin commented on #173
I meet the same question. But my KeyError is 'Hash'.I'm waiting for help as well.

[2018-11-23 08:36] afeena commented on #170
@wangclin Hi, could you please give me an idea how cloning page looks like? you have a domain address or you use localhost?

[2018-11-23 08:40] afeena commented on #173
Am I understand correct that in both cases you have used the address like
`clone --target 127.0.0.1` ()or any other ip)?

[2018-11-23 09:04] wangclin commented on #173
@afeena Thanks for reply.clone --target 192.168.10.xxx. A page in my private network.

[2018-11-23 09:11] wangclin commented on #170
@afeena Hi:)Thank you for your help. I don't know how to send pictures in comment.May I send a e-mail to you? A picture about my cloning page and snare page.Thank you again.

[2018-11-23 09:13] monsterhunterboy98 commented on #173
yes it was an IP. I did this actually -->
![image](https://user-images.githubusercontent.com/45062471/48935572-0de8ad80-ef43-11e8-8804-6549d6fa2f16.png)

[2018-11-27 22:01] afeena commented on #173
@monsterhunterboy98 I reproduced your error. I have the same 404 error when I clone with
`--target http://127.0.0.1`
but when I use just `--target 127.0.0.1` everything works for me.

[2018-11-29 02:36] monsterhunterboy98 commented on #173
Thank you for your reply! I cloned my website again using the --target 192.168.0.1

After that I tried running snare and it was only able to emulate the directory listing of the "www" folder which is the root directory of my php pages for the website. However, when I try to access the pages the browser returned status 404 message.

![image](https://user-images.githubusercontent.com/45062471/491955

[2018-11-30 10:00] DanielSpring commented on #173
I've encountered exactly the same issue, I have spent hours trying to sort this out. I have literally tried everything.
![snare](https://user-images.githubusercontent.com/33066562/49282203-79bca000-f486-11e8-910f-1e37df9e3a75.PNG)

[2018-11-30 18:42] DanielSpring commented on #170
Hi, Did you manage to get this issue sorted because I have exactly the same error messages? Thanks

[2018-12-01 12:18] DanielSpring commented on #170
Hi, did you manage to get this issue sorted out?

[2018-12-03 00:58] wangclin commented on #170
@DanielSpring Not yet, I'm trying to solve it.

[2018-12-03 20:04] DanielSpring commented on #170
@wangclin One thing i've found is the documentation is seriously lacking with Snare and Tanner. I managed to get it running where Snare wont produce any errors, this is only achived when a website is cloned from one hosted on your own local webserver.

There needs to be a Step-by-step guide on how to set the environment up from start to finish for testing and give real examples of attacks being pe

[2018-12-04 08:55] DanielSpring commented on #173
Yeah I found its very tempremental one minute it works and then next minute it doesn't.

[2018-12-04 08:57] DanielSpring commented on #173
I found its very tempremental, one minute it works and then next minute it doesn't.

[2018-12-04 09:05] wangclin commented on #170
Thank you for teaching. In fact, I've ran snare successfully under the guide .But when I cloned a private network web page, the snare showed a '404_status' error . It maybe a page trouble.

[2018-12-06 02:15] monsterhunterboy98 commented on #173
Unfortunately for me, I can't even get my own customize template website running on snare....

[2018-12-06 10:40] afeena commented on #173
I will try to reproduce the error when I will have time (hopefully next week). Unfortunately now I am super busy with my study and work. If you find something before, please share :)

[2018-12-06 23:05] subhazard commented on #170
I am also having this issue.

While free software is great, I don't know why people are so afraid of writing documentation that's more than a couple of half-assed sentences.

I don't know what your program is doing or supposed to be doing when you expect your users to read your mind.

[2018-12-07 13:06] DanielSpring commented on #170
lol I know tell me about it I've spent weeks upon end trying to get snare and tanner up and running properly still with no success. Whilst I did get then running, no results were showing after running a nikto scan. They stop for no reason when I visit tannerweb to inspect suuid, then I have to keep restarting them. What makes matters worse is Snare and Tanner are the only web-based honeypot of thi

[2018-12-07 13:24] glaslos commented on #170
Please keep in mind that all time invested by contributors in these projects is unpaid and besides our dayjobs. Our motivation to work on those projects comes from the appreciation from our users, collaboration with other contributors and most likely some personal interest in the topic.
While I understand your frustration, I recommend to attempt to appeal to our motivation. Maybe create a pull req

[2018-12-07 15:09] DanielSpring commented on #170
Yes that's one thing I shall definiantly be doing, a full comprehensive installation guide. I really think this is important as it will save everybody some time in future in getting the environement up and running, especially students who are conducting research. Do you know where I could find the authors dissertation by any chance? I tried to look for it everywhere but couldn't find nothing, only

[2018-12-07 15:53] DanielSpring commented on #170
Oh ok, from looking at them documents I had seen, I though you was supervising someone on their final year project to add new features to Glastopf lol.

[2018-12-07 20:13] subhazard commented on #170
I understand where you're coming from glaslos, but it is still disappointing to come across yet another project where there is insufficient documentation and has problems doing basic things it's meant to do. It doesn't look good for the open source community where the only motivation to make solid, comprehensible products is money.

[2018-12-07 21:38] subhazard opened #175 "Cloner fails when trying to scrape google.com"
Keep trying to get SNARE to work, and while following the documentation I keep running into issues.

`sudo clone --max-depth 0 --target http://google.com`

`Error logs will be stored in /opt/snare/clone.err`

`Traceback (most recent call last):
  File "/usr/local/bin/clone", line 4, in <module>
    __import__('pkg_resources').run_script('Snare==0.3.0', 'clone')
  File "/usr/lib/python3/dist-packag

[2018-12-10 00:02] afeena commented on #173
@monsterhunterboy98
I guess I know what part of the code causes the problem in your case:
https://github.com/mushorg/snare/blob/master/snare/cloner.py#L49

Here in case of relative links on the webpage, root is concatenated to the link.
Suppose you have
[code]
You root is `127.0.0.1`
Suppose now you on the `127.0.0.1/bar/` page, which has a link the link to `baz`. `baz` will be concatenated with r

[2018-12-10 19:24] viskey98 commented on #175
@subhazard Thanks for pointing out this bug. This occurred because the latest aiohttp version has a new attribute name for url. I will create a fix for the same :)

[2018-12-10 19:39] viskey98 commented on #172
@monsterhunterboy98 Glad that it worked :)

[2018-12-10 19:39] #172 closed

[2018-12-10 19:51] viskey98 commented on #170
@subhazard I can understand your frustration, but this is a honeypot which is still in its growing stage and not that established. Moreover till the date (of this issue )we didn't face any issue telling us to improve the docs. All the issue that were created were solved by us and the users were pretty satisfied. So if you feel our project is lacking documentation, you need to let us know, instead

[2018-12-10 20:00] viskey98 commented on #170
@wangclin This is how you attach images to github issues: `copy the image (right click, Copy image) and then paste it into the text box where you describe the issue.`
As your problem is still not clear to me, I would suggest you to create a separate issue for your problem, including your images. :)
I will do my best to fix it .

[2018-12-10 20:08] viskey98 commented on #170
@DanielSpring If you have this same problem create a new issue, because the author of this issue seems to be inactive. And at least you could have managed to respond to the questions asked by @afeena regarding this issue (which the author of this issue failed to respond). Without clarifications for those questions (asked by @afeena ) its difficult to sort out this problem. So better create a new i

[2018-12-12 08:33] monsterhunterboy98 commented on #173
My php pages are connected to a running sql statement that hold info such as images and credentials database as my website have login pages and etc, which all required sql select statements. Is Snare being emulate that portion as well?

Examples:
https://www.w3schools.com/php/php_mysql_select.asp

[2018-12-15 17:04] glaslos commented on #170
I'm closing this issue as the original issue is fixed.

[2018-12-15 17:04] #170 closed

[2018-12-15 17:10] glaslos commented on #175
I confirmed that the issue has been solved with the current version of SNARE

[2018-12-15 17:10] #175 closed

[2018-12-15 17:14] glaslos commented on #173
The clone tool just takes a snapshot of your static web app content (the HTML generated by your PHP code and database). The content will be completely static (besides JavaScript).

[2018-12-15 17:19] glaslos commented on #166
You can just either disable Dionaea's HTTP service or make it listen on another port (same goes for SNARE).

[2018-12-15 17:19] #166 closed

[2018-12-15 17:20] #164 closed

[2018-12-15 17:20] #163 closed

[2018-12-15 17:21] #118 closed

[2018-12-18 03:30] DanielSpring commented on #170
@viskey98 Thanks for getting back to me, ok I shall bare that in mind for future reference.

[2019-01-03 08:27] monsterhunterboy98 opened #179 "Supported Vulnerabilites Emulation (Glastopf vs SNARE)"
I tried replicating the exploitation steps done on my Glastopf Instance on my newly installed Snare. I only manage to emulate LFI exploit on snare. However, when I tried the successful injections on Snare, it was not able to emulate it.

Glastopf:
![image](https://user-images.githubusercontent.com/45062471/50628640-f9e99000-0f73-11e9-96e5-9b1d289099e6.png)

Snare:
Snare Simply refreshes the cloned

[2019-01-14 08:09] monsterhunterboy98 commented on #179
:(

[2019-01-15 03:02] monsterhunterboy98 commented on #179
appended url for SQL injection on Glastopf:
<Glastopf IP>/index.php/?q="select @@Version;"

Snare:
<Snare IP>/?q="select @@Version;"

Nothing happened for Snare. I did the same command on my vulnerable MySQL instance it works fine.

1.I did not install tanner. I was able to replicate the LFI exploit without tanner so I went ahead and did the sql injection

[2019-01-16 11:13] tmw9 commented on #134
@afeena is this issue still open? if yes, can i take it up?

[2019-01-18 13:54] afeena commented on #179
@monsterhunterboy98
MySQL is not default db for SNARE. default is sqlite3. You can change this in config.

[2019-02-18 15:57] Gerard42 commented on #36
I tried to use an Apache + SNARE set-up for this, but this results as the Apache proxy IP as originating IP for the attacks.

If SNARE itself does not support multiple domains, it might be a good idea to support the X-Forwarded-For header field? See https://stackoverflow.com/questions/760283/apache-proxypass-how-to-preserve-original-ip-address

Glad to hear it if there is a solution to preserve th

[2019-02-19 18:16] glaslos commented on #36
No, you are right, x-forwarded-for is the way to go

[2019-02-19 18:17] glaslos commented on #179
Closing this for inactivity. I assume all questions have been answered.

[2019-02-19 18:17] #179 closed

[2019-02-27 07:39] kont45 opened #180 "500 Internal Server Error Server"
Hi. I'm trying to run Snare honeypot. I cloned a few website but at all I get 500 error server.

[2019-02-27 12:39] gauravzqa opened #181 "Improve documentation for Snare."
the present documentation is very basic and need a better explanation of the concept, working and use cases of Snare which are missing in the current version of documentation available for snare.

[2019-02-27 16:51] rnehra01 commented on #181
Agree. Feel free to send a PR adding those use cases.

[2019-02-28 18:23] q2dg commented on #180
I have the same issue!

[2019-03-01 10:16] rnehra01 commented on #180
The issue is due to Tanner. Snare send all requests to a tanner service (tanner.mushmush.org default tanner if you do not start your own tanner instance) and tanner response is invalid, so if you start your own Tanner instance using https://github.com/mushorg/tanner, it will work.
@afeena Do you know why default tanner isn't working properly.

[2019-03-01 10:19] rnehra01 commented on #181
Just adding some tasks that comes to mind.
- [ ] Add about default tanner in the documentation https://github.com/mushorg/snare/issues/180#issuecomment-468615520

[2019-03-01 12:12] viskey98 commented on #180
It seems the default tanner server is not running at all. @glaslos is there any reason for the server being down?
@rnehra01 for a hotfix, I think if you can host a tanner instance in some free server (if possible) and let new-comers use it as a default tanner, before they get acquainted with tanner.
What do you think about this?

[2019-03-01 13:25] afeena commented on #180
Now fixed

[2019-03-01 18:45] rnehra01 commented on #180
To make the snare work fine just for copying it and just serving it, I think we can provide an option to run snare without any tanner instance. @afeena @glaslos @viskey98 ?

[2019-03-01 19:28] kont45 commented on #180
Briliant idea.

[2019-03-02 11:28] amanjiofficial commented on #181
@rnehra01  I want to help fix this issue.

[2019-03-02 11:49] rnehra01 commented on #181
Go ahead and shoot a PR.

[2019-03-02 14:49] viskey98 commented on #180
I think in my opinion, our honeypot is SNARE-TANNER, than SNARE & TANNER. What do I mean by this?
- I mean that this honeypot without TANNER is not a honeypot at all. TANNER  is the master-mind and SNARE is just the surface.
- If this is just for testing SNARE (for beginners mostly), that's why we have default tanner, for serving the purpose of just dealing with SNARE without installing TANNER. So

[2019-03-02 16:23] rnehra01 commented on #180
Yup, agree that amount of code change may not worth it.

[2019-03-03 12:58] rnehra01 opened #182 "GSoC 2019 - Getting Started"
To get started

- Clone the repo and try to run the tool
- Understand the code through documentation
- The cloner part of snare is NOT perfect, try to clone different website and see if some part of the webpage(images, css, js, realtive path handling) is not properly cloned. (e.g I found #183 )
- Try to complete missing documentation
- Try to add missing tests for methods (E.g https://github.com/m

[2019-03-03 13:06] rnehra01 opened #183 "Problem in serving a site"
If a website is clone using `https://example.com/` then snare gives error while serving but if cloned using `https://example.com` then works fine.
[code]
That means if `/` is present in then end of target URL then it causes an error.

[2019-03-03 17:24] sannanansari commented on #183
I am not getting error while cloning `https://example.com/`
![screenshot from 2019-03-03 22-52-42](https://user-images.githubusercontent.com/30230441/53698777-3ff19180-3e07-11e9-865f-4529758d624f.png)

[2019-03-03 17:29] rnehra01 commented on #183
Sorry, while serving the website using snare.

[2019-03-04 16:41] ChessSpider commented on #146
hi @glaslos I'm looking into mhn and SNARE seems like a great addition as a sensor. I'm curious why hpfeeds is not on the roadmap; [mhn indicate Snare should work with mhn if hpfeeds is supported](https://github.com/threatstream/mhn/issues/535). Thank you for your response

[2019-03-04 16:58] glaslos commented on #146
Tanner supports HPFeeds. There is no point in adding HPFeeds to SNARE as it only serves the attack surface. Other honeypot frameworks also utilizing HPFeeds are already including SNARE/Tanner: https://github.com/dtag-dev-sec/tpotce

[2019-03-04 16:59] ChessSpider commented on #146
Ah wow, hadn't found that one yet. Thanks! Got some more reading to do

On Mon, Mar 4, 2019, 17:58 Lukas Rist <notifications@github.com> wrote:

[2019-03-07 15:19] amanjiofficial commented on #183
@rnehra01  Can we specify conditions to check the presence of any path in the url by yarl api and then accordingly add '/status_404' or 'status_404' in cloner file?

[2019-03-07 17:08] rnehra01 commented on #183
Yeah. Or we can modify the URL and always add one of them

[2019-03-08 07:53] amanjiofficial commented on #183
@rnehra01 I have made the required changes and sent a PR .

[2019-03-09 16:32] glaslos opened #187 "Create some basic test coverage"
There is plenty of opportunity to add tests to SNARE. We make a lot of assumptions and with GSoC approaching, we should make sure the critical paths are covered.

[2019-03-10 05:49] amanjiofficial commented on #187
Can you please describe the test to be added with an example.

[2019-03-10 05:51] amanjiofficial commented on #134
@afeena @glaslos Is this issue still opened?

[2019-03-10 12:28] glaslos commented on #187
You can find examples of tests here:
https://github.com/mushorg/snare/tree/master/snare/tests
First step should be finding out where we lack coverage. Maybe use a
service like coverall?

[2019-03-11 07:15] glaslos commented on #134
There is a pending PR for this issue: https://github.com/mushorg/snare/pull/169

[2019-03-12 15:15] amanjiofficial commented on #187
I am working on this issue I will update soon

[2019-03-13 09:14] rjt-gupta opened #189 "Test Suite Structure"
Currently, the tests for each utility are distributed in separate test files.
So, I think only one test file should be there atleast for some utils.
Would be glad to make changes accordingly.

What do you think?
@afeena @glaslos @rnehra01

[2019-03-13 17:23] rnehra01 commented on #189
Yeah, I was also thinking about that. @afeena @viskey98 worked on these, they might be able to explain it better.

[2019-03-13 17:28] rnehra01 opened #190 "Gracious shutdown of snare"
Currently, on quitting snare throws a lot of KeyboardInteuppt exception which looks terrible. I think it can be made to quit graciously just like tanner server.

[2019-03-14 06:37] #183 closed

[2019-03-14 09:40] rjt-gupta opened #193 "Improve Error/Information Messages"
Currently, the error/information messages are displayed as it is with the output.
I think we can have separate colors for output, errors and information messages.
ex: [here](https://github.com/mushorg/snare/blob/35846cdc1fd1db069f326a2715df7476d15a7f9b/snare/utils/snare_helpers.py#L92)

What do you guys think?

[2019-03-14 17:01] rnehra01 commented on #193
Sounds good.

[2019-03-14 17:07] rjt-gupta opened #195 "Suggestion: Add testing information in Readme"
There is no information regarding running the tests currently in readme. So, I think adding some directions would be helpful for first-time contributors.

Would like to have opinions from the core devs.

[2019-03-15 01:47] shin2903 opened #196 "Handle query string in URL while cloning"
Currently, snare would return `404 Not found` when serving resources with query string in url .

[2019-03-15 09:02] rnehra01 commented on #196
@shin2903 Can you provide the steps to regenerate the issue?

[2019-03-15 10:08] shin2903 commented on #196
## How to reproduce
1. `clone --target https://readms.net --max-depth 1`
2. `sudo snare --port 8080 --page-dir readms.net`
3. Visit http://localhost:8080/, we see that the cloned page is not rendered correctly

[2019-03-15 14:05] rnehra01 commented on #195
I guess running tests is standard procedure, present in python docs. But you can add it in snare docs as well, no problem.

[2019-03-15 16:44] rjt-gupta commented on #195
I use `pytest` for testing pretty handy. Can I add info for pytest in docs?

[2019-03-15 18:48] rnehra01 commented on #195
Yeah, I guess it's fine to do that.

[2019-03-15 19:18] rjt-gupta commented on #195
Awesome, PR is on the way :)

[2019-03-30 01:03] ADI10HERO opened #201 "KeyError 'hash' / 'Value' whle running `snare --port 8080 --page-dir "some site name""
Hello i sucessully set up snare (example.com) worked but then cloning twitter,gmail and then my college website gave errors.
Twitter and Gmail were not clonned to begin with but the college website (http) was cloned but when i tried to run the above mentioned command it gave the following error :

"""
Traceback (most recent call last):
  File "/usr/local/bin/snare", line 4, in <module>
    __impor

[2019-03-30 06:46] rnehra01 commented on #201
Can you provide the link your college website?

[2019-03-31 09:09] rnehra01 commented on #196
#199

[2019-03-31 09:09] #196 closed

[2019-04-02 03:04] ADI10HERO commented on #201
Yes sure, well my college official website is bad (sorry) This is another website giving same error i think this will do?
http://www.kjscecodecell.com/

[2019-04-02 06:56] rnehra01 commented on #201
It is working fine for me. Can you show the commands you run?

[2019-04-02 08:24] shin2903 opened #205 "Handle error page correctly"
Status code and server header are not preserved when snare returns error page.
## Steps to reproduce
1. `sudo clone --target http://example.com`
2. `sudo snare --port 8080 --page-dir example.com`
3. `curl --head http://localhost:8080/notfound`. Response:
[code]
Server header should be `nginx`, and status code should be `404`

[2019-04-03 11:08] #205 closed

[2019-04-03 20:13] afeena commented on #195
#198 merged

[2019-04-03 20:13] #195 closed

[2019-04-03 20:16] #180 closed

[2019-04-04 09:40] Waseem-farooqui opened #206 "Unable to access the cloned website."
I have cloned the web site using
`sudo clone --target https://www.news18.com/india/ --max-depth=1`.

Now when I run the the following ` sudo snare --port 8080 --page-dir www.news18.com`

It give me this error.

`sensor@sensor:~/snare$ sudo snare --port 8080 --page-dir www.news18.com

   _____ _   _____    ____  ______
  / ___// | / /   |  / __ \/ ____/
  \__ \/  |/ / /| | / /_/ / __/
 ___/ / /|  /

[2019-04-04 09:45] afeena commented on #206
@Waseem-farooqui Hi, it's the problem with default tanner instance. You can run your own tanner instance following instructions in tanner https://github.com/mushorg/tanner and run snare with `--tanner <your tanner instance ip>` parameter

[2019-04-04 09:54] Waseem-farooqui commented on #206
Tried with this but still
`sudo snare --port 8080 --page-dir www.news18.com --tanner localhost`

[code]

[2019-04-04 10:12] glaslos commented on #206
The official Tanner is up again :+1:

[2019-04-04 10:13] Waseem-farooqui commented on #206
@glaslos means ?

[2019-04-04 10:19] glaslos commented on #206
https://github.com/mushorg/snare/search?q=KeyError%3A+%27%2Fstatus_404%27&type=Issues

[2019-04-04 10:22] Waseem-farooqui commented on #206
I have seen and tried this to remove all the pages and clone the website again but it didn't worked.

[2019-04-04 10:23] glaslos commented on #206
What clone command are you using?

[2019-04-04 10:30] Waseem-farooqui commented on #206
`sudo clone --target http://www.hec.gov.pk`

While cloning it throw lot of errors like  `ERROR   Property: Invalid value for "CSS Level 2.1" property: none [10:186095: background-color]`

[2019-04-04 11:06] glaslos commented on #206
you should be using only the domain name, e.g. `hec.gov.pk` see `clone -h`. @afeena maybe we should make this less error prone 😬

[2019-04-13 10:00] #206 closed

[2019-04-18 08:35] Waseem-farooqui commented on #44
@afeena If I am using Mush's Tanner then how could I get the logs.
Specifically attack logs ?

[2019-04-22 04:50] naina-emmanuel opened #209 "Where to get the attack logs in snare?"
After installing snare/tanner we have two directories snare.err and snare.log, which do not have attack logs. How can we get attack log??

[2019-04-22 08:16] afeena commented on #209
Hi @naina-emmanuel, unfortunately there are no attack logs on the snare side. All the logs are stored on the tanner side, so you have to use your own tanner instance

[2019-05-13 10:51] rnehra01 opened #213 "Improve printing information with colors"
Change the current print function with the new print_color method added #208

[2019-06-05 14:12] Gerard42 opened #215 "Clone bug with url's ending in '/'? (default WordPress set-up)"
When cloning a local default WordPress set-up I got 404 errors with Snare.There seems to be a bug in the way Snare handles url's ending with a '/', the following regex in meta.json fixes the issue for my cloned websites: %s/\/\"\:/\"\:/g

Not sure if I'm doing something wrong, but at least it is working for me after this manual fix.

[2019-06-05 15:06] Gerard42 commented on #36
I made an ugly quick-fix that works for me. Maybe it is of use for others until this is implemented in Snare in a more clean way than this :-)

TannerHandler() in tanner_handler.py:
[code]

[2019-06-08 08:12] rnehra01 commented on #215
Could you paste the actual URLs and some meta.json portion containing URLs?

[2019-06-12 10:51] Gerard42 commented on #215
Following a link on the main index.html page ending in a / results in a 404 error, i.e.:
http://127.0.0.1:8080/index.php/author/tanner/

URLs not ending with a / do work, i.e:
http://127.0.0.1:8080/wp-login.php

Here is the complete meta.json (resulting from a clone of a local default WordPress installation):
[code]

[2019-06-26 07:40] saucer-man opened #216 "aiohttp.client_exceptions.ServerDisconnectedError: None"
hi, I try to run this project using docker , but when I  run ``doker-compose up``, error happend
[code]
I try some other way but this error always exits, help please :)

[2019-06-26 07:44] Masood-M commented on #216
Probably because you have python version 2.7 but it requires python 3.6, as the error message says.

[2019-06-26 08:11] saucer-man commented on #216
but when I try to install with pip and python3 manual, It still exits...

[2019-06-26 08:56] afeena commented on #216
@saucer-man Hi, could you please give me more info about your environment? I can't reproduce the error.

[2019-06-26 09:07] saucer-man commented on #216
full process is:
[code]

Thank you !

[2019-06-26 09:39] afeena commented on #216
Can you confirm that your network works correctly? Can you access http://tanner.mushmush.org:8090/ (e.g. from your browser?)

[2019-06-26 09:58] saucer-man commented on #216
I checked my network and it can not access that url, the reason may be here, thank you for help

[2019-08-02 05:34] lnarcy opened #217 "page-dir error"
im getting an "--page-dir: http://www.isep.ipp.pt does not exist" error when I run
$sudo snare --page-dir http://www.isep.ipp.pt

The clone command I used is $sudo clone --target http://www.isep.ipp.pt

[2019-08-02 05:57] rjt-gupta commented on #217
I guess you only need this - `sudo snare --page-dir www.isep.ipp.pt`.

[2019-08-31 04:59] suhiherazeN1N opened #219 "How to Print Sensor Name or IP in the log file as Glastopf does"
How to Print Sensor Name or IP in the log file as Glastopf does ? @glaslos or anyone

[2019-09-05 19:03] suhiherazeN1N opened #220 "How to change the Code of the HTML"
How to change the Code of the HTML of the cloned website ? @glaslos  or anyone ?

[2019-10-17 09:16] Moooser opened #222 "running into issue when following installation guide"
when trying to run the "steps to setup" I run into an error at "5. Run SNARE"

odroid@odroid:/opt/snare$ sudo snare --port 8080 --page-dir example.com

   _____ _   _____    ____  ______
  / ___// | / /   |  / __ \/ ____/
  \__ \/  |/ / /| | / /_/ / __/
 ___/ / /|  / ___ |/ _, _/ /___
/____/_/ |_/_/  |_/_/ |_/_____/

Traceback (most recent call last):
  File "/usr/local/bin/snare", line 4, in <mod

[2019-10-17 10:50] glaslos commented on #222
Hm, can you try again? This is the call that failed: http://tanner.mushmush.org:8090/version and it seems to be this is returning json.
@rjt-gupta can you add some better error handling for the `check_tanner` function?

[2019-10-17 10:51] glaslos commented on #222
I just verified and the header is also `application/json`. Maybe you have a proxy in between or this host is blocked?

[2019-10-21 06:25] Moooser commented on #222
Sorry for replying late, was out of office. Thanks for your help. I have a Proxy in between, but I checked the URL from which the content seems to be loaded, "http://tanner.mushmush.org:8090/version" and the proxy doens't block. If I make the request via postman I get a application/json header back.

[2019-10-21 06:30] Moooser commented on #222
ok update, I just tried to curl the URL from the machine I am running the script on and indeed the proxy seems to block. Seems to be some weird proxy configuration. Thanks for your help.

[2019-10-21 06:30] #222 closed

[2019-12-08 16:54] #181 closed

[2019-12-16 05:57] Aniket21mathur opened #224 "Traceback on running snare"
Got internal server error on visiting `localhost:8080`.

`snare.err`

[code]
Possibly because the `content-type` is not passed to the json function or we can instead use `json.loads`.

@afeena @rjt-gupta @rnehra01 please have a look. Thanks!

[2019-12-17 22:17] afeena commented on #224
@Aniket21mathur I fixed the problem with default tanner server, you can check it now :)

[2019-12-18 04:28] Aniket21mathur commented on #224
@afeena thanks I tried to run snare again with the default tanner server `example.com` but it doesn't run. It stops as shown below in the image. Nothing in the `logs.err`, I am afraid I am not able to figure out why this is happening.

Please guide. Thanks!
![Screenshot from 2019-12-18 09-53-41](https://user-images.githubusercontent.com/35092582/71055777-e7646880-217c-11ea-9393-87b852344434.png)

[2019-12-18 07:08] afeena commented on #224
@Aniket21mathur I suggest you to run `snare` with your own tanner instance. (so you have to run `tanner` first and run `snare` with `--tanner <your tanner server>`)

[2019-12-31 12:54] erwanlr commented on #201
I have the same issue. Cloned a local site with `sudo clone --target http://wp.lab/`

Then ran `sudo snare --port 8080 --page-dir wp.lab` which resulted in:

[code]

[2020-01-15 09:06] karolszczepanek11 commented on #220
go to /opt/snare/pages/YOUR_PAGE folder and try editing them

[2020-01-22 08:10] Belee05 opened #228 "docker-compose is error"
Ubuntu 18.04 LTS
When I execute an order docker-compose build, have some error.How can I fix these error?
![image](https://user-images.githubusercontent.com/51012725/72877036-ebaf1300-3d32-11ea-9323-27e8ca05abb2.png)

`ERROR: Command errored out with exit status 1:
   command: /usr/local/bin/python -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-2tw3g_p0/yarl/setup.py'

[2020-01-23 19:15] dimitoglou opened #229 "Problem serving pages"
After a successful installation and testing,  I am able to see in the logs attempts to the IP and port. But am having trouble serving "real" web pages. My /opt/snare/pages/example.com is there but I get "500 Internal Server Error" from the browser. My goal is to replace example.com with something more "enticing" but adding a valid index.html file does not seem to make a difference. Am I missing so

[2020-01-26 20:03] afeena commented on #228
Hi @Belee05
Unfortunately, I can't reproduce your problem. Is it your full log? How you run compose?

[2020-01-27 11:16] rjt-gupta commented on #229
You have to clone the real web pages of the system using the ``cloner`` first (changing the only index will not help). It will create a separate directory of the real application in /opt/snare/pages which you can serve using ``snare``.

[2020-01-27 11:19] rjt-gupta commented on #217
@lnarcy Is your issue resolved or need some extra help? :)

[2020-01-29 18:43] pch0n commented on #228
Hi, I just got the exact same log errors.
Debian 10 updated, docker and docker-compose installed with default settings.
I cloned the repo, launched "docker-compose build" from the cloned directory and got the exact same result.

Here is the full log after the first encountered error:

`  Building wheel for yarl (setup.py): started
Building wheel for yarl (setup.py): finished with status 'error'

[2020-01-31 07:22] MaheswarReddy1194321 opened #230 "KeyError: '/status_404'"
![key_error](https://user-images.githubusercontent.com/48216197/73519912-4d086d80-4428-11ea-9244-ea15d15470e4.png)

-> it's giving error if we are cloning website which don't have error page.

[2020-01-31 18:38] afeena commented on #228
#231
Check please and let me know if it solves your problem

[2020-01-31 19:29] pch0n commented on #228
Working perfectly for me now !
Thanks for your help

[2020-01-31 19:39] afeena commented on #228
@pch0n perfect! Thanks for letting me know :) I will merge into master then :)

[2020-02-18 07:20] AndreyMironenkoGit opened #233 "Down Front when use Crawler (dirb)"
Hi.

When using dirb or any other crawler, the front falls, but the container keeps working. When accessing the server, it returns 504. Serviceability is only restored when the Tanner container has restarted.

snare.err
2020-02-17 13:23:01 ERROR:aiohttp.server:log_exception: Error handling request
2020-02-17 13:28:42 ERROR:snare.tanner_handler:submit_data: Exception:
Traceback (most recent call la

[2020-02-18 21:20] afeena commented on #233
Hi @AndreyMironenkoGit
Please give me some more info: which tanner you are currently use? default one? your own instance?

As you can see, the problem in `tanner_handler`, I am pretty sure it's not a snare problem, if you are running your own tanner, please check also its logs.

[2020-02-19 14:42] t3chn0m4g3 commented on #233
@afeena Thanks for having a look at this. I successfully reproduced this by using `dirb http://1.2.3.4`. Strangely the error only appears within Snare while the Tanner instance (the one running on tcp/8090) simply crashes without errors and thus needing a manual restart.

[2020-02-20 06:38] AndreyMironenkoGit commented on #233
Problem in KEEP_ALIVE_TIME = 75 in (tanner/tanner/session.py string 13) and subsequent removal of old sessions from redis (async def delete_old_sessions(self, redis_client) in tanner/tanner/session_manager.py string 67). The temporary mitigation may be to increase the KEEP_ALIVE_TIME, but need to understand why there is a conflict in Redis.

[2020-02-21 14:42] t3chn0m4g3 opened #236 "Feature Request: Support for TLS"
Most websites are running on TLS today which attackers will most likely to focus on. Would be great if Snare had the option of using TLS.

[2020-02-21 15:10] Parth1811 commented on #201
Is there any solution to this problem? I'm a facing the same issue

[2020-02-24 16:08] mzfr commented on #228
@afeena @rjt-gupta I think we can close this issue.

[2020-02-24 18:03] mzfr commented on #224
@afeena This is also happening in docker.

After `docker-compose up` is successful and I try to visit `http://0.0.0.0:80` I get `500 internal server error`.
So I ran `docker exec ca3d4a756928 cat /opt/snare/snare.err`(`ca3d4a756928` is the container ID) and it showed the following:

[code]

[2020-02-25 06:46] #233 closed

[2020-02-25 22:51] #173 closed

[2020-02-25 22:52] #189 closed

[2020-02-25 22:53] #209 closed

[2020-02-25 22:53] #217 closed

[2020-02-25 22:55] #220 closed

[2020-02-25 22:55] #216 closed

[2020-02-25 22:56] #228 closed

[2020-02-25 23:16] afeena commented on #224
@mzfr It happened (again) because of the redis problem with default TANNER
please run with your own tanner instance instead

[2020-02-25 23:16] #224 closed

[2020-02-25 23:17] #229 closed

[2020-02-25 23:19] afeena commented on #193
duplicates with #213

[2020-02-25 23:19] #193 closed

[2020-02-26 00:10] afeena commented on #201
@Parth1811 guess it might be connected https://github.com/mushorg/snare/issues/215

[2020-02-26 05:26] Parth1811 commented on #201
@afeena I somehow got this fixed. But I'm unable to replicate it now.
I don't think it's related #215, it may be an issue related to dependencies.
Is there any way to reproduce it?

[2020-02-26 05:50] mzfr opened #244 "Connection reset error"
So I installed snare and then tanner. Both runs without any error but when I am trying to view the website it's showing connection reset error in the browser.

* To start snare I ran: `➜ sudo python bin/snare --port 8080 --page-dir example.com --tanner 127.0.0.1`

* To start tanner I ran: `sudo tanner`

When Tried to open `127.0.0.1:8080` I am seeing `Connection Reset`.

I tried to view the `snare

[2020-02-26 09:55] afeena commented on #244
@mzfr I tried to run snare/tanner on the same server and it works for me. I can't reproduce your problem

Check please also tanner logs

[2020-02-26 10:22] mzfr commented on #244
Tanner logs looks good.

There is nothing in the "tanner.err" and tanner.log are fine I mean nothing suspicious in there.

[2020-02-26 12:01] Divya063 commented on #190
@rnehra01 I would like to work on this.

[2020-02-26 16:29] JesseBowling opened #245 "Snare Docker container builds but fails to run"
Using the existing docker-compose/Dockerfile setup, the snare container will build but fails to run. Specifically, this error is received:

[code]
If I `pip3 install gitdb` and explore the module, there does not seem to be a `gitdb.utils.compat` available.

[code]

[2020-02-26 16:46] Harmon758 commented on #245
See https://github.com/gitpython-developers/GitPython/issues/983.

[2020-02-27 07:10] mzfr commented on #245
@JesseBowling recently the PR #238 was merged which should have fixed the issue related to `gitdb error`.
So I would suggest that you pull the latest changes and then try it.

[2020-02-28 17:38] afeena opened #248 "GSoC 2020"
# Here is the short guide for upcoming GSoC 2020!

**Slack**: [gsoc-slack.honeynet.org ](url)
_Mentor:_ @afeena
_Backup mentor:_ @glaslos

## How do I start?
* Join our GSoC channel #2020-snare
* Follow the quick-start and run the code
 * Play with the tool! Try different stuff/attacks/crawlers
* Found a bug? → Create an issue
* Go through existing issue to get the idea of the project problems and

[2020-02-29 09:04] mzfr commented on #244
I am looking into this and I noticed something

If I am running snare & tanner locally it never calls `snare.server:handle_request` function even when I try to visit the website in the browser.

But when I am running them with docker it seems to work.

[2020-03-01 22:18] steve7158 commented on #213
I would like to work on this issue can please. If possible can you please point me to a starting point
 Thank you

[2020-03-01 22:21] steve7158 commented on #213
And also which type of information would like to be colored, as #208 was for errors
Thank you

[2020-03-01 23:13] steve7158 commented on #213
never mind i have figured it out

[2020-03-01 23:13] steve7158 commented on #213
#250

[2020-03-02 08:36] steve7158 commented on #3
Hi @glaslos i would like to work on this issue if that is ok.

[2020-03-02 10:20] steve7158 commented on #245
@JesseBowling, @mzfr, @Harmon758 I think the version issue for gitdb is anylonger a problem should we close this issue?  :relaxed:

[2020-03-02 10:27] afeena commented on #244
@mzfr so you mean you can't reach website in browser?

[2020-03-02 11:09] glaslos commented on #3
Absolutely! This is a bit tricky so I recommend an early PR to get feedback.

[2020-03-02 11:16] mzfr commented on #244
Yes for some reason it doesn't work locally but works with docker.

[2020-03-02 17:01] steve7158 commented on #3
ok
ill, give it try.

On Mon, Mar 2, 2020 at 4:39 PM Lukas Rist <notifications@github.com> wrote:

--
Steve Jose Motha
Bachelor of Technology, 3rd Year
Computer Science and Engineering, ASET, Noida
Mobile No: *9911135124*
email: stevejmotha@gmail.com

[2020-03-02 19:05] JesseBowling commented on #245
Yep, master works for me!

[2020-03-02 19:05] #245 closed

[2020-03-04 20:56] afeena commented on #244
@mzfr I have exactly the same setup: snare and tanner on the same server and I use --tanner 127.0.0.1 and everything works fine. You can try to use debugger in snare to check what is happening

[2020-03-04 21:07] afeena commented on #230
@MaheswarReddy1194321 sorry for the late reply

I can't reproduce your problem :( But I know we had some problems with a cloner, so it doesn't work stable all the time. You should check you meta.json and try probably to re-clone again

[2020-03-04 21:10] afeena commented on #219
@suhiherazeN1N I don't know how it is done in Glastopf, but you can see sensor uuid when you run snare
`serving with uuid <UUID>`

[2020-03-04 21:11] afeena commented on #230
Maybe it's somehow related https://github.com/mushorg/snare/issues/215

[2020-03-04 21:13] #23 closed

[2020-03-04 21:14] afeena commented on #23
Users should take care of cloning by themselves

[2020-03-04 21:14] afeena commented on #182
Outdated :)

[2020-03-04 21:14] #182 closed

[2020-03-04 21:16] afeena commented on #230
And this https://github.com/mushorg/snare/issues/183

[2020-03-04 21:17] afeena commented on #248
### Issues related to cloner:
* https://github.com/mushorg/snare/issues/183
* https://github.com/mushorg/snare/issues/230

[2020-03-04 21:19] afeena commented on #201
@Parth1811 how you reproduce that for the first time? I could give it a try

[2020-03-04 21:42] afeena opened #256 "print_color error"
In current master branch, when stutdown snare

[code]

[2020-03-05 04:51] steve7158 commented on #256
Hi @afeena, can  you please tell me on how to replicate this error, as this is the error i am trying to shutdown snare.

[code]

[2020-03-05 14:14] steve7158 opened #257 "Using multi threading to make cloning faster"
I was just reading through the code when i realized we are cloning in 3 parts of a webpage, namely
1. find all relative links
2. find all images and scripts
3. find al action elements
one by one, so instead can we use 3 threads to carry out the downloading of the three tasks simultaneously. I know it would involve rewriting a big chunk of the code but it can significantly increase the cloning spee

[2020-03-05 14:33] afeena commented on #256
@steve7158 how you are trying to shutdown? I meant just interrupt execution by `ctrl+Cz

[2020-03-05 15:13] afeena commented on #257
@steve7158 Cloner is written in async way, so we don't need threads, but I agree that there is a room for improvements and optimization, to ensure that everything is really executed in async way
If you are not familiar with async, please read e.g. https://medium.com/velotio-perspectives/an-introduction-to-asynchronous-programming-in-python-af0189a88bbb

[2020-03-05 15:44] steve7158 commented on #256
Hmm. i did the same. let me try and replicate it by trying it on some more clones.

[2020-03-05 15:53] steve7158 commented on #257
Thank you @afeena i will surely look into it :+1: . I will close this issue as this is no longer valid.

[2020-03-05 15:53] #257 closed

[2020-03-06 13:14] Parth1811 commented on #256
@steve7158 it was a simple error in the return statement of the `print_color` function the `msg` variable which is an input was concatenated with a string object. The problem was in [line 210](https://github.com/mushorg/snare/blob/3cfba63c0f8e94df4a393efb5f2c4eb6d73260be/bin/snare#L210) of snare script we were passing an Error object as msg hence the str should be called on the `msg` variable. I h

[2020-03-06 13:47] Parth1811 opened #259 "Nikto is able to detect the honeypot."
I tried scanning the SNARE server with Nikto and it was able to detect that it was a python/aiohttp server and not an Nginx server. I think it would be great if we can fix this.

Command:
[code]
Output:
[code]

[2020-03-06 20:03] steve7158 commented on #256
oh :open_mouth: i see, thank you for clearing it out @Parth1811

[2020-03-06 21:22] #256 closed

[2020-03-09 22:45] afeena opened #261 "Info color"
White is not the best color for INFO :)

<img width="755" alt="Screenshot 2020-03-09 at 23 36 14" src="https://user-images.githubusercontent.com/8390928/76263765-0e07dc00-6260-11ea-9762-3270a445f953.png">
<img width="748" alt="Screenshot 2020-03-09 at 23 36 23" src="https://user-images.githubusercontent.com/8390928/76263766-1102cc80-6260-11ea-8ef8-450c543b3953.png">

[2020-03-10 08:18] puneet29 opened #263 "Compare Version Info pulls the latest version while testing the fixes"
`compare_version_info()` pulls the latest version from server while fixing or developing and testing the code. This removes all the changes and makes it difficult to test code.

[2020-03-10 08:23] afeena commented on #263
Please set auto-update to Falss

[2020-03-10 08:28] #263 closed

[2020-03-10 10:07] steve7158 commented on #261
Blue:
![image](https://user-images.githubusercontent.com/40897792/76301443-418c4a00-62e4-11ea-92b8-9ceb1d55f6bd.png)

Green:
![image](https://user-images.githubusercontent.com/40897792/76301857-ff173d00-62e4-11ea-8eaa-e021dc5a7478.png)

Personally i think blue would be a great addition.

[2020-03-11 21:03] Parth1811 commented on #261
cyan is also a good option:
![snare](https://user-images.githubusercontent.com/23277673/76463707-e2285a00-6409-11ea-8f61-ac27633fb025.png)

[2020-03-11 21:32] Parth1811 commented on #190
@afeena I think this issue can be safely closed as this is not a problem anymore

[2020-03-16 15:28] nitish81299 commented on #244
I am also facing the same issue. I made a venv, installed the requirements and then cloned example.com

then I used

[code]
to run snare, but when I visit the url I get connection reset error.

@afeena @mzfr any suggestions?

[2020-03-16 16:14] afeena commented on #244
@nitish81299 probably some issues with default tanner instance. I tried it now and it works, but you can also try with your own tanner instance

[2020-03-16 16:18] afeena commented on #261
@steve7158 @Parth1811 to be honest, I don't mind using any color, just want it to be visible not only in black term :)

[2020-03-17 16:20] #134 closed

[2020-03-19 08:04] mzfr commented on #244
Okay so this is because of python version. Everything works in python3.5

[2020-03-19 08:05] afeena commented on #244
@mzfr And which one you have used before?

[2020-03-19 08:06] mzfr commented on #244
Python3.8

[2020-03-19 08:07] afeena commented on #244
@mzfr thanks for the info! I haven't tested anything with python 3.8 yet 😄

[2020-03-19 08:11] mzfr commented on #244
oh, my default python version is set to `3.8.1` so my venv was also of that version.

I tested it with python3.5 version and it worked.

Also, the issue is with aiohttp library(I guess), because as I said in [this](https://github.com/mushorg/snare/issues/244#issuecomment-592922447) comment the `async def handle_request` wasn't called so I think maybe aiohttp fails to start a server.

[2020-03-19 11:54] glaslos commented on #42
Duplicate of #7

[2020-03-19 11:54] #42 closed

[2020-03-19 11:55] glaslos commented on #259
Duplicate of #7

[2020-03-19 11:55] #259 closed

[2020-03-19 11:56] glaslos commented on #213
Closed with #252

[2020-03-19 11:56] #213 closed

[2020-03-19 11:58] glaslos commented on #236
@t3chn0m4g3 why not run a proxy like caddy with TLS and auto-renew in front of your SNARE instances? I would prefer to keep the SNARE complexity low.

[2020-03-19 11:59] glaslos commented on #219
I assume this is answered.

[2020-03-19 11:59] #219 closed

[2020-03-19 12:27] t3chn0m4g3 commented on #236
@glaslos Thanks for your feedback. Yes this is possible of course, however if you [look here](https://github.com/dtag-dev-sec/tpotce/blob/master/docker/tanner/docker-compose.yml) you will hopefully agree that introducing Caddy (which is [great](https://twitter.com/marco_ochse/status/1236044834286309378)) will only introduce another point of failure and increase complexity with regard to analyzing

[2020-03-19 14:29] glaslos commented on #236
it kind of depends on how we want to implement #36 If SNARE does multi site, then we could also do TLS in SNARE, if we recommend with one SNARE instance per site, then it would make more sense to also do TLS in the proxy doing the vhost.

[2020-03-20 21:16] Fosocles commented on #244
Python 3.8 here and I get the same error when I visit my cloned website. Using dockers too.

[2020-03-21 05:19] mzfr commented on #244
Docker actually worked fine for me. But yeah python 3.8 was causing the issue so I shifted to 3.5 and everything worked

[2020-03-23 10:23] Fosocles commented on #244
@mzfr I was using `alpine:latest` which has Python3.8 hence my issue. Fixed it by installing `alpine:3.10`.

[2020-03-23 10:32] t3chn0m4g3 commented on #236
Thanks for the feedback. Is #36 part of GSoC 2020?

[2020-03-23 12:04] glaslos commented on #236
Probably, @afeena is quite open and will plan the features with the student.

[2020-03-23 12:08] rjt-gupta commented on #248
Small task suggestion  - https://github.com/mushorg/tanner/issues/381

[2020-03-23 22:37] afeena commented on #236
I think it might be a good task to work on :) I am definitely up for spending some time on it

[2020-03-24 10:28] t3chn0m4g3 commented on #236
Sounds great :) Thx.

[2020-03-30 10:44] Parth1811 commented on #236
@t3chn0m4g3 @glaslos I am planning to include this in my GSoC proposal, I was thinking of adding TLS without doing the multi-site support. I wanted to know what problems I will run into, and what approach will you recommend to take.

[2020-03-30 12:05] glaslos commented on #236
Generally any site will need a separate certificate, so I think you are fine with suggesting this for a single domain approach. Would be nice if you would add some thoughts on how to scale to multiple sites.
I'd like to see a solution where certificate renewal is taken care of automatically. Check out how this works for Let's Encrypt.

[2020-03-30 12:25] t3chn0m4g3 commented on #236
@glaslos @Parth1811 I do not think every site needs its own cert since Let's Encrypt [supports ](https://community.letsencrypt.org/t/acme-v2-and-wildcard-certificate-support-is-live/55579) wildcard certificates with [certbot 0.22.0](https://community.letsencrypt.org/t/how-to-issue-acmev2-wildcard-with-certbot-0-22-0/55657).
However there is a number of users running their honeypot on DSL with dyna

[2020-03-30 20:12] Parth1811 commented on #236
@t3chn0m4g3 @glaslos Regarding wildcard certificates, Let's Encrypt only supports in  ACMEv2 for which you have to get validated using the DNS-01 challenge which would be difficult with dynamic IP/DDNS.
For the localhost what is understood is we have to generate a private key and self-signed certificate and configure the locally trusted roots.

So my plan of action would be to provide two methods

[2020-03-30 20:50] glaslos commented on #236
Yeah, wildcards only solves the problem only for subdomains, I'm usually setting up multiple FQDN. Do some research on how difficult this is in Python and let me know what you find.

[2020-04-02 13:24] Fosocles commented on #244
I think this can be closed now?

[2020-04-02 14:50] alikhuzzai opened #265 "Hello"
I'm new with this type of project and programming and want to learn more about it
can you please give the steps to run this program on my PC

[2020-04-02 17:39] puneet29 opened #266 "Change distribution from distutils to setuptools"
Sister issue of [Tanner: Change distribution from distutils to setuptools #383](https://github.com/mushorg/tanner/issues/383)

[2020-04-02 17:43] puneet29 commented on #265
Hi @alikhuzzai
Snare is a tool that uses [Cloner](https://github.com/mushorg/snare/blob/master/bin/clone) to clone a website and [Snare](https://github.com/mushorg/snare/blob/master/bin/snare) for serving that website. You must look at [Tanner](https://github.com/mushorg/tanner) as well.
Please follow the steps in the Getting Started section of [README.md](https://github.com/mushorg/snare/blob/mas

[2020-04-02 20:08] afeena commented on #265
Hi @alikhuzzai please read our README as @puneet29 has mentioned. If you have any specific issue, don't hesitate to create an issue

[2020-04-02 20:09] #244 closed

[2020-04-09 17:51] puneet29 commented on #261
So are we aiming for a better color font on white background only? @afeena @glaslos

[2020-04-10 06:38] steve7158 commented on #261
@puneet29 we are looking for a color font visible on both white and black backgrounds. :)

[2020-04-19 10:28] steve7158 commented on #201
Hi @Parth1811 were you able replicate the error.
In my case the cloner and the snare are working perfectly.
if the issue is related to '/' at the end of url, can you try this solution :)
[code]

[2020-05-12 11:01] Fosocles opened #268 "Cloner errors and warnings"
Hi,
So, when I'm trying to clone a website I own (a Wordpress) I get a lot of warnings and errors (most of them properties/css style errors), but Snare works and it servers **some pages**.

For the moment, when I'm trying to access the Admin login page, it displays a page completely stripped of CSS properties. While I think bots would be able to bruteforce logins (I hope this feature is supported

[2020-05-13 09:37] martinzeifang opened #269 "Cannot publish cloned Site"
Hey,

I tryed to test snare:

`sudo clone --target facebook.de --max-depth=1

    ______ __      ______ _   ____________
   / ____// /     / __  // | / / ____/ __ \
  / /    / /     / / / //  |/ / __/ / /_/ /
 / /___ / /____ / /_/ // /|  / /___/ _, _/
/_____//______//_____//_/ |_/_____/_/ |_|

/ Logs will be stored in /opt/snare/clone.log|
------------------------------------>SUMMARY<-------------

[2020-05-13 12:03] mzfr commented on #269
@martinzeifang Looks like the issue is with the global tanner instance. It is recommended that you use to start your own tanner instance and then use that for the snare.

You can use `--tanner <IP/domain of your tanner instance>`.

So if you start tanner on your localhost then you can run snare like:

[code]

[2020-06-07 01:40] teamthanos opened #270 "Cannot clone websites"
I am running Ubuntu 18.04 on VMware and just tried to set up snare, but I am getting Traceback errors when cloning a website.

Python is 3.6.9 and I followed all steps mentioned in the "Getting Started" section,

I get a lot of "Warnings" and "Errors" as well, but the "Traceback" at the end gives me the impression that it's really failing.

The logs are here https://pastebin.com/ufLR9gd0

Can anyo

[2020-06-11 10:13] #268 closed

[2020-06-26 14:08] t3chn0m4g3 opened #271 "Python support beyond 3.6/3.7"
I just noticed, as soon as I run Snare with Python > 3.7 Snare does not respond to HTTP requests and the socket remains closed but no error message is given.

[2020-06-26 14:26] mzfr commented on #271
Yes that is the known issue. https://github.com/mushorg/snare/issues/244

[2020-06-26 14:31] t3chn0m4g3 commented on #271
@mzfr Thanks 😊 I was only looking at the open issues. May bad.

[2020-06-26 14:31] #271 closed

[2020-08-05 13:39] mintos5 opened #272 "Leading whitespaces in data[cookies]"
Data sent from snare to tanner have small issue. In short this data can be represented as dictionary of keys: method, path, headers, uuid, peer, status, cookies, etc...
Value of data[**cookies**] is another dictionary containing cookies names and values: This dictionary is not created properly and some keys (cookies names) are generated with leading whitespace.

I found the issue is connected to t

[2020-08-15 21:13] rheabonnerji opened #273 "Can't connect to tanner host http://tanner.mushmush.org:8090/version"
Internet connected and working but the service seems down. Would be great if the service can be restarted or turned on if turned off.

[2020-08-18 11:33] lordlabuckdas opened #274 "Not able to load snare website"
I've exactly followed the docs in setting up my snare and personal tanner instances, but I'm unable to get the [snare site](http://127.0.0.1:8080) up and running.

I just the get ascii art of snare, then sometime later, a `TimeoutError` or `Can't connect to tanner host http://0.0.0.0:8090/version` when i close my tanner instance.

Netstat doesn't show snare to be running (but tanner, php sandbox a

[2020-08-18 13:29] mzfr commented on #274
@lordlabuckdas umm looks like you are using python3.8 so please use python3.7 to get everything working.

[2020-08-19 17:38] lordlabuckdas commented on #274
thanks @mzfr , that worked!

[2020-08-19 17:38] #274 closed

[2020-10-15 09:10] Fosocles opened #276 "Snare TLS/SSL support"
Hi.

I was wondering whether or not there are any plans of adding TLS/SSL support to SNARE. I am trying to host a SNARE instance on port 443/HTTPS, but I am unable to start it properly: it throws some certificate errors, if I remember correctly and I don't know where/how to specify a path to any certs/CA files.

Thanks in advance.

[2020-10-15 13:01] mzfr commented on #276
@Fosocles We already have an open issue for this. Please see the discussion on #236

[2020-10-15 14:36] Fosocles commented on #276
I thought I've seen a similar topic, but couldn't find it.
Thanks for the answer.

[2020-10-15 14:36] #276 closed

[2020-11-24 14:35] Nicocimbali opened #277 "Cloning error"
Hi,
Afert i cloned a website and launched snare, when i visited it on 127.0.0.1:8080  i see a blank page.
Do you know why?
These are the commands that i used:
sudo clone --target http://zero.webappsecurity.com/index.html
sudo snare  --port 8080 --page-dir zero.webappsecurity.com
I used python 3.7.0

[2020-11-24 15:36] Haotian-Shi-cyber opened #278 "fail to clone web page"
when i try to clone, it alerts me "aiohttp" is not installed.
after then, use "python3.6 -m pip install aiohttp".. and i got this
![image](https://user-images.githubusercontent.com/62081228/100115630-a7b4ff00-2e6a-11eb-972d-c418229f5e2c.png)
![image](https://user-images.githubusercontent.com/62081228/100115674-b3a0c100-2e6a-11eb-84cd-1976ff439f10.png)
![image](https://user-images.githubusercontent

[2020-12-13 10:29] lordlabuckdas commented on #278
Can you try running `sudo apt install python3.6-dev` and run the setup again?

[2020-12-13 10:30] lordlabuckdas commented on #278
Can you try running `sudo apt install python3.6-dev` before the setup?

[2020-12-13 10:35] lordlabuckdas commented on #273
Currently, [tanner.mushmush.org](http://tanner.mushmush.org:8090/version) is online. Alternatively, you can try setting up your [own tanner instance](https://github.com/mushorg/tanner/#steps-to-install-tanner).

[2020-12-13 10:49] lordlabuckdas commented on #270
I'm not able to replicate this issue.
The warnings and errors can be ignored, they show information about the CSS validation of the site.
Also, it looks like the URL that you entered in the logs is invalid. `<` would refer to the redirection operator there.
Can you try the `clone` command with another URL and check if it is working properly?

[2020-12-13 10:52] lordlabuckdas commented on #277
Can you comment the [pastebin](https://pastebin.com/) links to your `snare` and `cloner` logs?
Also, check if port 8080 is up and running using `sudo netstat -tulnp`

[2020-12-18 12:24] lordlabuckdas commented on #261
If this issue is up for grabs, I'd like to work on it and replace the **INFO** color from **white** to **cyan**.

[2020-12-18 13:02] mzfr commented on #261
@lordlabuckdas I would really suggest using blue or green. Personally, I'm not a fan of cyan :smile:

[2020-12-18 13:07] rjt-gupta commented on #261
I would like to vote for GREEN!!

[2020-12-18 14:48] glaslos commented on #261
How about not hard-coding a specific color? Let the terminal decide?

[2020-12-18 18:24] lordlabuckdas commented on #261
@glaslos could you elaborate please? Are you talking about retrieving some kind of info about the terminal's background color and setting colors accordingly?

[2020-12-19 15:21] glaslos commented on #261
The problem with using a specific color, it will cause an issue with someone's background. Have a look around for CLI frameworks which properly handle colors.

[2020-12-19 18:08] #266 closed

[2021-01-24 08:23] #270 closed

[2021-01-29 21:52] Haotian-Shi-cyber commented on #278
just found it is ./bin/clone right? not built-in command... its ok, is there requirements for pages im going to clone? eg, must be http and not for https?

[2021-01-30 05:44] lordlabuckdas commented on #278
`./bin/clone` contains the raw file for the cloner which will be built into a pip module by `setuptools` in `setup.py`.
The recommended way to set up and use Snare (and Cloner) is to run `[sudo] python setup.py install` and then use the `clone` command directly.
Also, I don't think there are no requirements regarding the protocol (http/https), you can clone any site.

[2021-01-30 11:39] Haotian-Shi-cyber commented on #278
i cloned youtube.com but still can't access page.
![image](https://user-images.githubusercontent.com/62081228/106355450-d5e20f80-62ef-11eb-9080-d68ea626e1d6.png)

[2021-01-30 13:58] Haotian-Shi-cyber commented on #278
every time i cloned a page, it got so many warnings and errors, is there anything wrong
![Uploading image.png…]()

[2021-01-30 13:58] Haotian-Shi-cyber commented on #278
every time i cloned a page, it got so many warnings and errors, is there anything wrong
![image](https://user-images.githubusercontent.com/62081228/106358290-49414c80-6303-11eb-99ed-75c1fab92dd2.png)

[2021-02-01 05:17] mzfr commented on #278
@Haotian-Shi-cyber Please post the output of the log files.

[2021-02-01 09:30] Haotian-Shi-cyber commented on #278
![image](https://user-images.githubusercontent.com/62081228/106439862-16689700-6470-11eb-9f5b-bf3a4fc8ab57.png)
some examples

[2021-02-02 04:00] mzfr commented on #278
@Haotian-Shi-cyber it would be nice if you can post the complete output on Pastebin and then give the link. The screenshot you provided doesn't give much information.

[2021-02-02 23:30] Haotian-Shi-cyber commented on #278
http://pastebin.com/28XTaM98

[2021-02-03 18:54] afeena commented on #278
@Haotian-Shi-cyber most of the warnings come from the css parsing library, it is not the from cloner itself. Also please remember that cloner has really limited functionality, so not every page can be successfully cloned.

Regarding the page serving, could you please provide the snare logs instead of the cloning logs? From your cloning logs I can not say anything regarding your problem with page a

[2021-02-03 18:55] afeena commented on #277
please refer to the #278  or create the new issue.

Thanks

[2021-02-03 18:55] #277 closed

[2021-02-03 18:56] #273 closed

[2021-02-03 18:57] #269 closed

[2021-02-03 18:57] #248 closed

[2021-02-19 12:00] t3chn0m4g3 opened #281 "Support for Python 3.8.x"
While Snare builds from latest master and starts up fine using Python 3.8.x it does not allow for connections being established. Unfortunately there is literally nothing logged in `.err` or `.log`.

Let me know if you can reproduce or how / if I can provide debug logs.

[2021-02-19 12:22] mzfr commented on #281
Yeah this is kind of known(https://github.com/mushorg/snare/issues/244), even though I never investigated it deeply.

[2021-02-19 12:25] t3chn0m4g3 commented on #281
Thanks for the swift feedback! Let me know if I can support with logs.

[2021-03-10 09:25] afeena opened #283 "GSoC 2021"
# Here is the short guide for upcoming GSoC 2021
Slack: gsoc-slack.honeynet.org
Mentor: @afeena
Backup mentor: @mzfr @glaslos

## How do I start?

- Join our GSoC channel #2021-snare
- Follow the quick-start and run the code
- Play with the tool! Try different stuff/attacks/crawlers
- Found a bug? → Create an issue
- Go through existing issue to get the idea of the project problems and try to thin

[2021-03-12 11:19] GcmMiguel opened #284 "Snare container is grabbing proxy internal IP as remote_addr but Tanner is grabbing Real IP address."
Hello,

I am deploying a honeypot behind a nginx proxy trying to achieve the following logic:

- If HTTP request asks for a legit host (i.e.: legit domain as host) -> proxy pass to legit HTTP server
- If HTTP request is not requesting a legit domain (i.e.: IP as host) -> proxy pass to honeypot HTTP server (using tanner & snare for port 80)

Everything is already set, up and running. Working as exp

[2021-03-14 16:32] lordlabuckdas commented on #201
The `KeyError: 'hash'` most likely occurs at a call like `meta_info[args.index_page]['hash']`.

Both in **Snare** and **Cloner**, we set the default index page to `index.html` without checking if it exists, but `index.html` is not the default index file for some websites, like how sites that use PHP and thus Wordpress sites have `index.php` as their default index page. This way, this issue is rela

[2021-03-14 16:38] lordlabuckdas commented on #230
As per my observation, this issue arises in 2 cases:
1. The target website **does not have an error page**.
2. Upon visiting a page that does not exist, we are **redirected** to the homepage.

The website in question (used by @MaheswarReddy1194321) comes under the 2nd case as `in.yahoo.com/status_404` redirects to `in.yahoo.com/?err=404&err_url=https%3a%2f%2fin.yahoo.com%2fstatus_404`.

[2021-03-25 15:52] aabulaeva commented on #278
Hello,
i have the same issue
do you find a solution ?
thanks

[2021-03-25 20:40] Haotian-Shi-cyber commented on #278
hi,

no, i gave it up.

thanks

[2021-04-06 19:00] sanskar11 opened #288 "Issue with cloner"
When I was trying to clone my website [http://researchweb.iiit.ac.in/~sanskar.tibrewal](url), there was issues with clonning, as it was cloning researchweb.iiit.ac.in instead of the link provided. On digging deep I foung the issue lies in the yarl.
For example:
`

Output:
URL('http://researchweb.iiit.ac.in/index.html')
`

Therefore the ~sanskar.tibrewal part get cut out.

Similar code can be found

[2021-05-26 15:32] exeptionerror commented on #63
[[Solved] ModuleNotFoundError: No module named ‘grp’ on windows
](https://exerror.com/modulenotfounderror-no-module-named-grp-on-windows/)

[2021-06-12 10:06] glaslos opened #291 "Rename master branch to main"
GitHub has documentation for it https://github.com/github/renaming
It will affect you locally but shouldn't a big hassle if we all agree. Opinions?

[2021-06-12 10:09] afeena commented on #291
Fine with me :)

[2021-06-12 12:25] glaslos commented on #288
@sanskar11 this was done to get the root of the website. You want a specific folder which wouldn't really work. We could move your sub-folder into the root of the website?

[2021-06-12 12:42] glaslos commented on #284
The correct behavior from Snare would be to check for the X-Forwarded-For header and use that instead. Are you comfortable with creating a Pull Request with that change? I'm happy to assist if you need help.

[2021-06-21 01:12] youccefkilp opened #299 "white page"
I have installed snare and everything works fine. but the localhost: 80 page is white with no content

[2021-10-16 15:05] Juniortheone opened #310 "Cloner issue"
I just installed snare, but I can't clone anything. Not even, example.com. Any help?
Below is the error

` Total number of URLs cloned: 2
Traceback (most recent call last):
  File "/home/kali/snare/snare_honeypot/lib/python3.9/site-packages/Snare-0.3.0-py3.9.egg/EGG-INFO/scripts/clone", line 59, in main
  File "/usr/lib/python3.9/asyncio/base_events.py", line 642, in run_until_complete
    return

[2021-12-21 21:39] ibuydan commented on #299
Did you resolve this?

[2021-12-21 21:42] danielkelley743 opened #311 "White page with HTTP 200 response"
My friend has installed and configured tanner, they have then cloned a site and specified a port for snare to run on successfully. However, when visiting the page, it just stays white and console shows HTTP response code 200. Checking snare's error logs shows:

_aiohttp.http_exceptions.BadStatusLine: invalid HTTP method_

Any advice?

[2021-12-23 23:03] JBar2K opened #312 "Link to tanner.mushmush.org:8090/version stops SNARE"
Following the directions posted for installation of SNARE. Cloned my site successfully, but when running snare I receive the following error, "Can't connect to tanner host http://tanner.mushmush.org:8090/version" and then SNARE exits. Ran sudo apt update just in case, but everything is current.
Tried accessing http://tanner.mushmush.org:8090/version with a web browser, but page timed out. Tried ht

[2022-01-24 19:43] #311 closed

[2022-02-16 14:42] #284 closed

[2022-03-15 00:32] ruvlesh opened #313 "Tanner instalation"
Is tanner depandant on sqlite/sqlit3 ?

add to pre-inital and docker ?

[2022-04-23 21:56] TheRedSpark opened #314 "Snare stuck in starting Process"
Snare ist stuck in the starting Process and display after some time: Can't connect to tanner host http://tanner.mushmush.org:8090/version in red.

LG RedSpark

[2022-05-15 22:24] #314 closed

[2022-06-03 15:13] t3chn0m4g3 opened #315 "Python 3.10 breaks Snare"
Snare currently does not support Python 3.10 due to ... :
[code]

[2022-06-26 13:49] Rapsoulis commented on #315
I can confirm the same issue. Is there another Python version that can be used?

[2022-06-26 14:20] t3chn0m4g3 commented on #315
Python 3.9 works fine for now.

[2022-07-20 09:48] tirkarthi commented on #315
The import seems to have been removed in https://github.com/aio-libs/aiohttp-jinja2/commit/3f9efc900a4ca0f2a43fea76ca8209e873873bfd#diff-34b91be528320edc4dccf295f1897a54ad72af8f243e0030fc9b4a0207b90ef1L5

[2022-11-08 18:40] Lionel98 commented on #312
same issue